<div class="kt-app">
	<kt-portlet>
		<kt-portlet-body>
			<kt-store-filters
				(changefilters)="onFilter($event)"
				[initialType]="typeName"
				[initialCategory]="categoryName"
				[initialName]="searchQuery">
			</kt-store-filters>
		</kt-portlet-body>
	</kt-portlet>

	<div class="row">
		<ng-container *ngIf="selectedItemType === 'getProducts'">
			<div class="col-lg-3 mb-4" *ngFor="let product of data">
				<kt-product
					class="hoverable"
					(click)="openSelectItemDialog(product, 'product')"
					[name]="product?.name"
					[image]="product?.image"
					[cash]="product?.price"
					[coin]="product?.price_coin"
					[allowedPaymentType]="product?.allowed_payment_type"
					[description]="product?.description">
				</kt-product>
			</div>
		</ng-container>
		<ng-container *ngIf="selectedItemType === 'getPackages'">
			<div class="col-lg-3 mb-4" *ngFor="let package of data">
				<kt-package
					class="hoverable"
					(click)="openSelectItemDialog(package, 'package')"
					[name]="package?.name"
					[image]="package?.image"
					[cash]="package?.price"
					[coin]="package?.price_coin"
					[products]="package?.package_product"
					[allowedPaymentType]="package?.allowed_payment_type"
					[description]="package?.description">
				</kt-package>
			</div>
		</ng-container>
		<ng-container *ngIf="selectedItemType === 'getPlans'">
			<div class="col-lg-3 mb-4" *ngFor="let plan of data">
				<kt-plan
					class="hoverable"
					(click)="openSelectItemDialog(plan, 'plan')"
					[name]="plan?.name"
					[image]="plan?.image"
					[cash]="plan?.price"
					[products]="plan?.plan_product"
					[allowedPaymentType]="plan?.allowed_payment_type"
					[description]="plan?.description">
				</kt-plan>
			</div>
		</ng-container>
	</div>
</div>
