<div class="kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet" *ngFor="let product of products" [style.opacity]="productBeingDeleted.includes(product.id) ? '0.5' : 1">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media">
                        <img *ngIf="product?.image != null" [src]="product?.image" alt="image">
                        <span [hidden]="product?.image != null" class="kt-badge kt-badge--dark kt-badge--xl"><i class="fas fa-question"></i></span>
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <span class="kt-widget__username">{{product?.name}}</span>

                            <div class="kt-widget__action">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-upper btn-primary btn-sm" (click)="openEditProductDialog(product)">Editar</button>
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                        <button class="btn btn-label-primary btn-sm dropdown-toggle-split ml-0" ngbDropdownToggle>
                                            <i class="fas fa-plus p-0"></i>
                                        </button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <button class="dropdown-item" (click)="deleteProduct(product.id)">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="kt-widget__subhead">
                            <span class="badge badge-info mx-1">{{product?.category}}</span>
                        </div>

                        <div class="kt-widget__info">
                            <div class="kt-widget__desc mt-2">
                                <span *ngIf="product?.description">{{product?.description}}</span>
                                <span *ngIf="!product?.description"><i>Descrição não informada</i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__bottom justify-content-end">
                    <div class="kt-widget__item justify-content-end" style="max-width: 180px;">
                        <div class="kt-widget__icon">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">_mycoin</span>
                            <span class="kt-widget__value">
                                <ng-container *ngIf="product?.price_coin"><span>R$</span> {{product?.price_coin}}</ng-container>
                            <ng-container *ngIf="!product?.price_coin"><small><i>não informado</i></small></ng-container>
                            </span>
                        </div>
                    </div>
                    <div class="kt-widget__item justify-content-end" style="max-width: 180px;">
                        <div class="kt-widget__icon">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">Preço</span>
                            <span class="kt-widget__value">
                                <ng-container *ngIf="product?.price"><span>R$</span> {{product?.price | currency:'BRL'}}</ng-container>
                            <ng-container *ngIf="!product?.price"><small><i>não informado</i></small></ng-container>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>