<div class="kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet" *ngFor="let plan of plans" [style.opacity]="planBeingDeleted.includes(plan.id) ? '0.5' : 1">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media kt-hidden-">
                        <img *ngIf="plan?.image != null" [src]="plan?.image" alt="image">
                        <span [hidden]="plan?.image != null" class="kt-badge kt-badge--dark kt-badge--xl"><i class="fas fa-question"></i></span>
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <span class="kt-widget__username">{{plan?.name}}</span>

                            <div class="kt-widget__action">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-upper btn-primary btn-sm" (click)="openEditPlanDialog(plan)">Editar</button>
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                        <button class="btn btn-label-primary btn-sm dropdown-toggle-split ml-0" ngbDropdownToggle>
                                            <i class="fas fa-plus p-0"></i>
                                        </button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <button class="dropdown-item" (click)="deletePlan(plan.id)">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="kt-widget__subhead">
                            <span class="badge badge-info mx-1">{{plan?.allowed_payment_type}}</span>
                        </div>

                        <div class="kt-widget__info">
                            <div class="kt-widget__desc mt-2">
                                <ng-container *ngIf="plan?.description">
                                    <p>{{plan?.description}}</p>
                                </ng-container>
                                <ng-container *ngIf="!plan?.description">
                                    <p><i>Descrição não informada</i></p>
                                </ng-container>
                                <div class="table-responsive">
                                    <table class="table table-sm table-striped mb-0">
                                        <thead class="table-brand">
                                            <tr>
                                                <th class="text-center" width="60">Qtd</th>
                                                <th>Item</th>
                                                <th class="text-center" width="100">_mycoin</th>
                                                <th class="text-center" width="100">Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of plan?.plan_product">
                                                <th class="text-center" scope="row">x{{product?.quantity}}</th>
                                                <td>
                                                    <ng-container *ngIf="product?.item_type == 'product'">
                                                        {{product?.product?.name}}
                                                        <small class="font-weight-bold">(produto)</small>
                                                    </ng-container>
                                                    <ng-container *ngIf="product?.item_type == 'package'">
                                                        {{product?.package?.name}}
                                                        <small class="font-weight-bold">(pacote)</small>
                                                    </ng-container>
                                                </td>
                                                <td class="text-center">
                                                    <ng-container *ngIf="product?.item_type == 'product'">
                                                        {{product?.product?.price_coin}}
                                                    </ng-container>
                                                    <ng-container *ngIf="product?.item_type == 'package'">
                                                        {{product?.package?.price_coin}}
                                                    </ng-container>
                                                </td>
                                                <td class="text-center">
                                                    <ng-container *ngIf="product?.item_type == 'product'">
                                                        {{product?.product?.price | currency:'BRL'}}
                                                    </ng-container>
                                                    <ng-container *ngIf="product?.item_type == 'package'">
                                                        {{product?.package?.price | currency:'BRL'}}
                                                    </ng-container>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__bottom">
                    <div class="kt-widget__item justify-content-end">
                        <div class="kt-widget__icon">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">Preço</span>
                            <span class="kt-widget__value">{{plan?.price | currency:'BRL'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>