<div class="kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--height-fluid" *ngFor="let company of companies" [style.opacity]="companiesBeingDeleted.includes(company.id) ? '0.5' : 1">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-widget kt-widget--project-1">
                <div class="kt-widget__head">
                    <div class="kt-widget__label">
                        <div class="kt-widget__media">
                            <span class="kt-media kt-media--lg kt-media--circle kt-hidden-">
                                <img [hidden]="company?.logo == null || company?.logo == ''" [src]="company?.logo" alt="image">
                                <span [hidden]="company?.logo != null && company?.logo != ''" class="kt-badge kt-badge--danger kt-badge--xl">{{company?.name | firstLetter | uppercase}}</span>
                            </span>
                        </div>
                        <div class="kt-widget__info kt-margin-t-5">
                            <a href="#" class="kt-widget__title">
                                {{company?.name}}
                            </a>
                            <span class="kt-widget__desc">
                                {{company?.segment}}
                            </span>
                        </div>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <button (click)="openCompanyRequestDialog(null)" class="btn btn-outline-success btn-sm btn-upper btn-bold mr-3">Ver pedidos</button>
                        <div class="btn-group">
                            <button (click)="openEditCompanyDialog(company)" type="button" class="btn btn-primary btn-sm btn-upper btn-bold">Editar</button >
                            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-label-primary btn-sm dropdown-toggle-split" ngbDropdownToggle>
                                    <i class="fas fa-plus p-0"></i>
                                </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button class="dropdown-item" [disabled]="companiesBeingDeleted.includes(company.id)" (click)="deleteCompany(company.id)">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-widget__body">
                <div class="kt-widget__content">
                    <div class="kt-widget__details">
                        <span class="kt-widget__subtitle">Cadastro</span>
                        <span class="kt-widget__value">{{company?.created_at | date:'dd/MM/yy'}}</span>
                    </div>
                    <div class="kt-widget__details">
                        <span class="kt-widget__subtitle">Compras</span>
                        <span class="kt-widget__value"><span>R$</span>1132,200</span>
                    </div>

                    <div class="kt-widget__details">
                        <span class="kt-widget__subtitle">_my coins</span>
                        <span class="kt-widget__value"><span>$</span>159</span>
                    </div>

                    <div class="kt-widget__details">
                        <span class="kt-widget__subtitle">Usuários</span>
                        <div class="kt-media-group">
                            <a *ngFor="let user of company?.users" href="#" class="kt-media kt-media--sm kt-media--circle bg-secondary" [matTooltip]="user?.name" matTooltipPosition="above">
                                <img *ngIf="user?.avatar != null && user?.avatar != ''" src="assets/media/users/100_7.jpg" alt="image">
                                <span [hidden]="user?.avatar != null && user?.avatar != ''">{{user?.name | firstLetter}}</span>
                            </a>
                            <!-- <a href="#" class="kt-media kt-media--sm kt-media--circle"><span>+3</span></a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>