<div class="kt-widget34 d-flex align-items-center justify-content-center">
	<div class="kt-widget34__chart" style="position: relative; width: 300px; height: 300px;">
		<canvas #chart height="300"></canvas>
	</div>
</div>
