<div class="row">
    <div class="col-xl-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Resumo Financeiro
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget12">
                    <div class="kt-widget12__content">
                        <div class="kt-widget12__item">
                            <div class="kt-widget12__info">
                                <span class="kt-widget12__desc">Valor por hora</span>
                                <span class="kt-widget12__value">{{freelancer?.financial?.current_hourly_value | currency:'BRL'}}</span>
                            </div>

                            <div class="kt-widget12__info">
                                <span class="kt-widget12__desc">Próxima análise de valor/h</span>
                                <span class="kt-widget12__value" *ngIf="freelancer?.financial?.next_hourly_value_analysis != null">{{moment(freelancer.financial.next_hourly_value_analysis).format('D [de] MMMM [de] YYYY').toLowerCase()}}</span>
                            </div>
                        </div>
                        <div class="kt-widget12__item mb-0">
                            <div class="kt-widget12__info">
                                <span class="kt-widget12__desc">Total recebido do mês</span>
                                <span class="kt-widget12__value">{{freelancer?.financial?.month_earning | currency:'BRL'}}</span>
                            </div>
                            <div class="kt-widget12__info">
                                <span class="kt-widget12__desc">Progresso valor/h</span>
                                <div class="kt-widget12__progress">
                                    <div class="progress kt-progress--sm">
                                        <div class="progress-bar kt-bg-brand" role="progressbar" [style.width]="freelancer?.financial?.hour_value_progress + '%'" [attr.aria-valuenow]="freelancer?.financial?.hour_value_progress" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="kt-widget12__stat">
                                        {{freelancer?.financial?.hour_value_progress}}%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Últimas atividades
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                        <li class="nav-item">
                            <a routerLink="/prestador/tarefas" class="nav-link">
                                Ver quadro
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">
                    <div class="kt-widget2">
                        <div *ngIf="loadingLatestJobs" class="kt-widget2__item kt-widget2__item--dark">
                            <div class="kt-widget2__checkbox">
                            </div>
                            <div class="kt-widget2__info">
                                <a href="#" class="kt-widget2__title skeleton-box" style="width: 120px;">Loading the title</a>
                                <a href="#" class="kt-widget2__username skeleton-box" style="width: 40px;">Loading</a>
                            </div>
                        </div>
                        <div *ngFor="let job of latestJobs" class="kt-widget2__item" [ngClass]="{
                            'kt-widget2__item--primary': job.status == 'to_do',
                            'kt-widget2__item--danger': job.status == 'to_change',
                            'kt-widget2__item--info': job.status == 'to_approval',
                            'kt-widget2__item--success': job.status == 'done',
                            'kt-widget2__item--warning': job.status == 'doing'
                        }" [matTooltip]="statusTooltip(job.status)" matTooltipPosition="left">
                            <div class="kt-widget2__checkbox">
                            </div>
                            <div class="kt-widget2__info">
                                <a routerLink="/prestador/tarefas" [queryParams]="{card: job?.id}" class="kt-widget2__title">
                                    {{job?.title}}
                                </a>
                                <span class="kt-widget2__username">
                                    {{moment(job?.created_at).fromNow()}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Notificações
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                </div>
            </div>
            <div class="kt-portlet__body p-0">
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_widget6_tab1_content" aria-expanded="true">
                        <div class="kt-notification">
                            <a *ngIf="loadingNotifications" href="#" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <div class="skeleton-box" style="height: 24px; width: 24px; margin-left: -4px;"></div>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title skeleton-box" style="width: 120px;">Loading the title</div>
                                    <div class="kt-notification__item-time skeleton-box" style="width: 40px;">Loading</div>
                                </div>
                            </a>
                            <a (click)="onNotificationClick($event, notification.go_to)" *ngFor="let notification of notifications" [href]="notification.go_to" class="kt-notification__item">
                                <div class="kt-notification__item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"></path>
                                            <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) " x="16.3255682" y="2.94551858" width="3" height="18" rx="1"></rect>
                                        </g>
                                    </svg>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title">
                                        {{ notification.title }}
                                    </div>
                                    <div class="kt-notification__item-time">
                                        {{ moment(notification.created_at).fromNow() }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>