<div class="kt-store-filters">
	<div class="row">
		<div class="col-lg-4">
			<label for="ktStoreFiltersName">Buscar por palavra chave</label>
			<input #name (keyup)="setName(name?.value)" [value]="currentName" type="text" class="form-control" id="ktStoreFiltersName" placeholder="Exemplo: Instagram, Facebook, Adsense, etc">
		</div>
		<div class="col-lg-3">
			<label for="ktStoreFiltersTypes">Tipo de demanda</label>
			<select id="ktStoreFiltersTypes" #types class="form-control" (change)="setType(types?.value)" [value]="currentType">
				<option value="produtos">Produtos</option>
				<option value="pacotes">Pacotes</option>
				<option value="planos">Planos</option>
			</select>
		</div>
		<div class="col-lg-3">
			<label for="ktStoreFiltersCategory">Categoria</label>
			<select id="ktStoreFiltersCategory" #categories class="form-control" (change)="setCategory(categories?.value)" [value]="currentCategory">
				<option value="social-media">Social media</option>
				<option value="estrategia">Estratégia</option>
				<option value="desenvolvimento">Desenvolvimento</option>
			</select>
		</div>
		<div class="col-lg-2 d-flex align-items-end">
			<button class="btn btn-primary btn-block" (click)="filter()">Filtrar</button>
		</div>
	</div>
</div>
