<div class="kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet" *ngFor="let package of packages" [style.opacity]="packageBeingDeleted.includes(package.id) ? '0.5' : 1">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media kt-hidden-">
                        <img *ngIf="package?.image != null" [src]="package?.image" alt="image">
                        <span [hidden]="package?.image != null" class="kt-badge kt-badge--dark kt-badge--xl"><i class="fas fa-question"></i></span>
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <span class="kt-widget__username">{{package?.name}}</span>

                            <div class="kt-widget__action">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-upper btn-primary btn-sm" (click)="openEditPackageDialog(package)">Editar</button>
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                        <button class="btn btn-label-primary btn-sm dropdown-toggle-split ml-0" ngbDropdownToggle>
                                            <i class="fas fa-plus p-0"></i>
                                        </button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <button class="dropdown-item" (click)="deletePackage(package.id)">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="kt-widget__info">
                            <div class="kt-widget__desc mt-2">
                                <ng-container *ngIf="package?.description">
                                    <p>{{package?.description}}</p>
                                </ng-container>
                                <ng-container *ngIf="!package?.description">
                                    <p><i>Descrição não informada</i></p>
                                </ng-container>
                                <div class="table-responsive">
                                    <table class="table table-sm table-striped mb-0">
                                        <thead class="table-brand">
                                            <tr>
                                                <th class="text-center" width="60">Qtd</th>
                                                <th>Produto</th>
                                                <th class="text-center" width="100">_mycoin</th>
                                                <th class="text-center" width="100">Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of package?.package_product">
                                                <th class="text-center" scope="row">x{{product?.quantity}}</th>
                                                <td>{{product?.product?.name}}</td>
                                                <td class="text-center">{{product?.product?.price_coin}}</td>
                                                <td class="text-center">{{product?.product?.price | currency:'BRL'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__bottom justify-content-end">
                    <div class="kt-widget__item justify-content-end" style="max-width: 180px;">
                        <div class="kt-widget__icon">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">_mycoin</span>
                            <span class="kt-widget__value">
                                <ng-container *ngIf="package?.price_coin"><span>R$</span> {{package?.price_coin}}</ng-container>
                            <ng-container *ngIf="!package?.price_coin"><small><i>não informado</i></small></ng-container>
                            </span>
                        </div>
                    </div>
                    <div class="kt-widget__item justify-content-end" style="max-width: 180px;">
                        <div class="kt-widget__icon">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">Preço</span>
                            <span class="kt-widget__value">{{package?.price | currency:'BRL'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>