<div class="kt-login__body">
    <div class="kt-login__form">
        <div class="kt-login__title">
            <h3>{{ 'AUTH.SIGN_IN.TITLE' | translate }}</h3>
        </div>

        <form class="kt-form" [formGroup]="loginForm" autocomplete="off">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>{{ 'AUTH.INPUT.USERNAME_OR_EMAIL' | translate }}</mat-label>
                    <input matInput type="text" placeholder="{{ 'AUTH.INPUT.USERNAME_OR_EMAIL' | translate }}" formControlName="username" autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('username','required')">
                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('username','minlength')">
                        <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('username','maxlength')">
                        <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 255</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}" formControlName="password" autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('password','required')">
                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','minlength')">
                        <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','maxlength')">
                        <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="kt-login__actions">
                <a href="javascript:;" routerLink="/auth/forgot-password" class="kt-link kt-login__link-forgot">
					{{ 'AUTH.GENERAL.FORGOT_BUTTON' | translate }}
				</a>
                <button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="loading">
					{{ 'AUTH.GENERAL.LOGIN_BUTTON' | translate }}
				</button>
            </div>

        </form>
    </div>
</div>