<div class="kt-dialog-select-product">
	<ng-container *ngIf="type === 'product'">
		<kt-product
			class="borderless shadowless"
			[name]="item?.name"
			[image]="item?.image"
			[cash]="item?.price"
			[coin]="item?.price_coin"
			[allowedPaymentType]="item?.allowed_payment_type"
			[description]="item?.description">
		</kt-product>
	</ng-container>
	<ng-container *ngIf="type === 'package'">
		<kt-package
			class="borderless shadowless"
			[name]="item?.name"
			[image]="item?.image"
			[cash]="item?.price"
			[coin]="item?.price_coin"
			[products]="item?.package_product"
			[allowedPaymentType]="item?.allowed_payment_type"
			[description]="item?.description">
		</kt-package>
	</ng-container>
	<ng-container *ngIf="type === 'plan'">
		<kt-plan
			class="borderless shadowless"
			[name]="item?.name"
			[image]="item?.image"
			[cash]="item?.price"
			[products]="item?.plan_product"
			[allowedPaymentType]="item?.allowed_payment_type"
			[description]="item?.description">
		</kt-plan>
	</ng-container>

	<div class="d-flex align-items-center mb-3">
		<button type="button" class="btn btn-info btn-sm btn-icon btn-circle">
			<i class="fas fa-minus"></i>
		</button>
		<input #quantity type="text" class="form-control text-center mx-2" value="0" placeholder="0" style="width: 70px;">
		<button type="button" class="btn btn-info btn-sm btn-icon btn-circle">
			<i class="fas fa-plus"></i>
		</button>
	</div>

	<button class="btn btn-primary" (click)="addToCart(quantity.value)">Adicionar no carrinho</button>
</div>
