.kt-rate-request-dialog {
    position: relative;
    padding: 8px;
    color: #000000;
    &__body {
        padding: 8px;
        h1 {
            font-size: 16px;
        }
        &__description {
            width: 100%;
            flex: 1 1 auto;
            overflow-wrap: break-word;
            box-sizing: border-box;
            min-height: 24px;
            padding: 12px 0px;
            font-size: 14px;
            color: #000;
        }
    }
    &__header {
        position: relative;
        display: flex;
        align-items: flex-start;
        .close {
            width: 39px;
        }
        &__title {
            width: 100%;
            flex: 1 1 auto;
            overflow-wrap: break-word;
            box-shadow: none;
            font-weight: 600;
            min-height: 24px;
            padding: 12px 8px;
            font-size: 20px;
            font-weight: 600;
            color: #646c9a;
        }
    }
}
