<div class="kt-rate-request-dialog">
	<div class="kt-rate-request-dialog__header">
		<span class="kt-rate-request-dialog__header__title">Avaliar: {{job?.title}}</span>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss Button')">
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
	<div class="kt-rate-request-dialog__body">
		<div class="row">
			<div class="col-lg-8">
				<div class="mb-4" *ngIf="job?.company_feedback_request?.length > 0">
					<h1>Notas _mybrief</h1>
					<span [innerHTML]="job?.company_feedback_request[0]?.notes | safe:'html'"></span>
				</div>

				<div class="mb-4" *ngIf="job?.attachment?.length > 0">
					<h1>Entrega</h1>
					<div class="kt-widget5">
                        <div class="kt-widget5__item" *ngFor="let attachment of job?.attachment">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img *ngIf="!attachment?.mime_type.includes('image')" style="max-width: 60px" class="kt-widget7__img" [src]="attachment.url | extensionNameIcon" alt="">
                                    <img *ngIf="attachment?.mime_type.includes('image')" style="max-width: 60px" class="kt-widget7__img" [src]="attachment.url" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a [href]="attachment?.url" target="_BLANK" class="kt-widget5__title" *ngIf="attachment?.mime_type.includes('image')">
                                        {{attachment?.name}}
                                    </a>
                                    <span #name class="kt-widget5__title" *ngIf="!attachment?.mime_type.includes('image')" (mouseover)="name.style.color = '#595d6e'">
                                        {{attachment?.name}}
                                    </span>
                                    <p class="kt-widget5__desc">
                                        {{attachment?.bytes | formatSize}}
                                    </p>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div style="width: 70px;">
                                    <a class="btn btn-outline-dark" [href]="downloadFn(attachment?.id)" target="_BLANK">Baixar</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

				<div class="mb-4">
					<h1>Feedback</h1>
					<textarea #reason class="form-control mb-2" rows="4" placeholder="Conte-nos por favor o motivo de sua escolha. Tudo poderá ser usado para melhorarmos cada vez mais nossas entregas."></textarea>
					<div class="d-flex align-items-center justify-content-between">
						<button class="btn btn-secondary" (click)="emitJobRate('disapproval', reason?.value)">Desaprovar</button>
						<button class="btn btn-primary" (click)="emitJobRate('approval', reason?.value)">Aprovar</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="mb-4">
					<h5>Produto</h5>
					<span>Post Facebook</span>
				</div>
				<div class="mb-4">
					<h5>Data de início</h5>
					<span>{{moment(job?.start_date).format('D [de] MMMM [de] YYYY')}}</span>
				</div>
				<div class="mb-4">
					<h5>Data de entrega</h5>
					<span>{{moment(job?.finished_at).format('D [de] MMMM [de] YYYY')}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
