<div class="kt-portlet mb-0">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Editar Empresa
            </h3>
        </div>
    </div>
    <form class="kt-form kt-form--label-right" [formGroup]="editCompanyForm" autocomplete="off">
        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <h3 class="kt-section__title">1. Informações:</h3>
                <div class="kt-section__body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Nome</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: _mybrief" formControlName="name" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Segmento</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: tecnologia" formControlName="segment" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">CNPJ</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: 96.656.584/0001-27" formControlName="cnpj" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

                <h3 class="kt-section__title">2. Contato:</h3>
                <div class="kt-section__body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Localização</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: Centro, Sorocaba" formControlName="localization" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Celular</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: (15) 9 9762-2558" formControlName="cellphone" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Telefone</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: (15) 3223-6336" formControlName="telephone" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Site</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: https://mybrief.com.br" formControlName="site" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary" [disabled]="loading">Cancelar</button>
                    <button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary ml-2" [disabled]="loading">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>