<!--begin: My Cart -->
<div ngbDropdown placement="bottom" autoClose="outside" class="kt-header__topbar-item">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-icon"
			[ngClass]="{'kt-header__topbar-icon--brand':  iconType === 'brand'}">
			<i *ngIf="!useSVG" [ngClass]="icon"></i>
			<span *ngIf="useSVG"
				class="kt-svg-icon"
				[inlineSVG]="icon"
				[ngClass]="{'kt-svg-icon--brand':  iconType === 'brand'}"></span>
		</span>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<form>
			<div class="kt-mycart">
				<div class="kt-mycart__head kt-head" [ngStyle]="{'background-image': 'url('+bgImage+')'}">
					<div class="kt-mycart__info">
						<span class="kt-mycart__icon"><i class="flaticon2-shopping-cart-1 kt-font-success"></i></span>
						<h3 class="kt-mycart__title">My Cart</h3>
					</div>
					<div class="kt-mycart__button">
						<button type="button" class="btn btn-success btn-sm">{{items.length}} {{items.length === 0 || items.length > 1 ? "itens" : "item"}}</button>
					</div>
				</div>

				<div [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '28vh', 'position': 'relative'}" class="kt-mycart__body">
					<div class="kt-mycart__item" *ngFor="let cartItem of items; let index = index">
						<div class="kt-mycart__container">
							<div class="kt-mycart__info">
								<a href="javascript:;" class="kt-mycart__title">
									{{ cartItem?.item?.name }}
								</a>
								<span class="kt-mycart__desc">
									{{ cartItem?.item?.description }}
			                    </span>

								<div class="kt-mycart__action flex-column align-items-start">
									<span class="kt-mycart__price">{{ cartItem.item.price * cartItem.quantity | currency:'BRL' }}</span>
									<div class="d-flex align-items-center mt-2">
										<span class="kt-mycart__text">por</span>
										<div class="d-flex align-items-center">
											<a href="javascript:;" class="btn btn-label-success btn-icon" (click)="setItemQuantity(index, toInt(cartItem.quantity) - 1)">−</a>
											<span class="kt-mycart__quantity">{{cartItem.quantity}}</span>
											<a href="javascript:;" class="btn btn-label-success btn-icon" (click)="setItemQuantity(index, toInt(cartItem.quantity) + 1)">+</a>
											<a href="javascript:;" class="btn btn-label-danger btn-icon ml-2" (click)="removeItem(index)"><i class="far fa-trash-alt"></i></a>
										</div>
									</div>
								</div>
							</div>

							<a href="javascript:;" class="kt-mycart__pic">
								<img src="./assets/media/products/product9.jpg" title="">
							</a>
						</div>
					</div>
				</div>

				<div class="kt-mycart__footer">
					<div class="kt-mycart__section">
						<div class="kt-mycart__subtitel">
							<span>Dinheiro</span>
							<span>_mycoin</span>
						</div>

						<div class="kt-mycart__prices">
							<span>{{ cashPrice | currency:'BRL' }}</span>
							<span>{{ coinPrice }}</span>
						</div>
					</div>
					<div class="kt-mycart__button kt-align-right">
						<button type="button" class="btn btn-info btn-sm" (click)="goToCheckout()">Finalizar pedido</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
