<div class="alert alert-{{type}}" role="alert" [ngClass]="alertClass">
	<div class="alert-icon" *ngIf="showIcon">
		<i [class]="icon"></i>
	</div>
	<div class="alert-text" [ngClass]="textClass">
		<ng-content></ng-content>
	</div>
	<div class="alert-close" *ngIf="showCloseButton">
		<button
			type="button"
			class="close"
			data-dismiss="alert"
			aria-label="Close"
			(click)="closeAlert()">
			<span aria-hidden="true"><i class="la la-close"></i></span>
		</button>
	</div>
</div>
