.kt-portlet__foot {
    padding: 25px !important;
}

.kt-app {
    @media(min-width: 1025px) {
        margin-top: -100px
    }
}

.kt-widget33 {
	.kt-widget33__body {
		.kt-widget33__items {
			.kt-widget33__item {
				.kt-widget33__pic {
					margin: 0 0 0 2rem;
				}
			}
		}
	}
}

.kt-payment-type {
	border-radius: 8px;
	border: solid 1px #dee2e6;
	padding: 24px 12px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all linear .3s;

	&__icon {
		width: 52px;
		margin-right: 8px;

		i {
			font-size: 20px;
		}
	}

	.type {
		flex: 1 1 auto;
	}

	&:hover {
		background: #f9f9f9;
		cursor: pointer;
		box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.08);
	}
}
