<div class="kt-app">
    <div class="row" *ngIf="items?.length > 0">
        <div class="col-xl-5">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <!--begin::Widget -->
                    <div class="kt-widget33">
                        <div class="kt-widget33__head">
                            <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" (click)="goBack()">
                                <i class="fa fa-long-arrow-alt-left"></i>
                            </a>
                            <a href="#" class="kt-widget33__title">Detalhes</a>
                            <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md">
                                <i class="fa fa-trash-restore"></i>
                            </a>
                        </div>
                        <div class="kt-widget33__body">
							  <div class="kt-mycart">
								<div class="kt-mycart__head kt-head p-0">
									<div class="kt-mycart__info">
										<span class="kt-mycart__icon"><i class="flaticon2-shopping-cart-1 kt-font-success"></i></span>
										<h3 class="kt-mycart__title kt-font-success">My Cart</h3>
									</div>
									<div class="kt-mycart__button">
										<button type="button" class="btn btn-success btn-sm">{{items.length}} {{items.length === 0 || items.length > 1 ? "itens" : "item"}}</button>
									</div>
								</div>

								<div class="kt-mycart__body">
									<div class="kt-mycart__item" *ngFor="let cartItem of items; let index = index">
										<div class="kt-mycart__container">
											<div class="kt-mycart__info">
												<a href="javascript:;" class="kt-mycart__title">
													{{ cartItem?.item?.name }}
												</a>
												<span class="kt-mycart__desc">
													{{ cartItem?.item?.description }}
												</span>

												<div class="kt-mycart__action flex-column align-items-start">
													<span class="kt-mycart__price">{{ cartItem.item.price * cartItem.quantity | currency:'BRL' }}</span>
													<div class="d-flex align-items-center mt-2">
														<span class="kt-mycart__text">por</span>
														<div class="d-flex align-items-center">
															<a href="javascript:;" class="btn btn-label-success btn-icon" (click)="setItemQuantity(index, toInt(cartItem.quantity) - 1)">−</a>
															<span class="kt-mycart__quantity">{{cartItem.quantity}}</span>
															<a href="javascript:;" class="btn btn-label-success btn-icon" (click)="setItemQuantity(index, toInt(cartItem.quantity) + 1)">+</a>
															<a href="javascript:;" class="btn btn-label-danger btn-icon ml-2" (click)="removeItem(index)"><i class="far fa-trash-alt"></i></a>
														</div>
													</div>
												</div>
											</div>

											<a href="javascript:;" class="kt-mycart__pic">
												<img src="./assets/media/products/product9.jpg" title="">
											</a>
										</div>
									</div>
								</div>

								<div class="kt-mycart__footer">
									<div class="kt-mycart__section">
										<div class="kt-mycart__subtitel">
											<span>Dinheiro</span>
											<span>_mycoin</span>
										</div>

										<div class="kt-mycart__prices">
											<span>{{ cashPrice | currency:'BRL' }}</span>
											<span>{{ coinPrice }}</span>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <!--end::Widget -->
                </div>
            </div>
        </div>

        <div class="col-xl-7">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
					<h2 class="mb-3">Finalizar compra</h2>

					<p>Preencha os dados abaixo para completar a sua compra.</p>

					<h5 class="border-bottom border-gray">
						1) Método de pagamento
						<ng-container *ngIf="paymentType">
							<small class="d-inline-block ml-2" *ngIf="paymentType === 'credit_card'">(cartão de crédito) <a (click)="paymentType = null" href="#">alterar</a></small>
							<small class="d-inline-block ml-2" *ngIf="paymentType === 'bank_slip'">(boleto bancário) <a (click)="paymentType = null" href="#">alterar</a></small>
						</ng-container>
					</h5>

					<hr>

					<div [hidden]="paymentType !== 'bank_slip'">
						Selecionado método de pagamento por boleto bancário.
					</div>

					<div [hidden]="paymentType !== 'credit_card'">
						<div class="card-wrapper"></div>

						<form class="mt-5" #formWrapper [formGroup]="cardForm">
							<div class="row mb-lg-3">
								<div class="col-lg-6">
									<label>Número</label>
									<input class="form-control" placeholder="•••• •••• •••• ••••" type="tel" name="number" formControlName="cardNumber">
								</div>
								<div class="col-lg-6">
									<label>Nome no cartão</label>
									<input class="form-control" placeholder="João das Neves" type="text" name="name" formControlName="cardName">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<label>Data de expiração</label>
									<input class="form-control" placeholder="00/00" type="tel" name="expiry" formControlName="cardDate">
								</div>
								<div class="col-lg-6">
									<label>Código de segurança</label>
									<input class="form-control" placeholder="000" type="number" name="cvc" formControlName="cardCvv">
								</div>
							</div>
						</form>
					</div>

					<ng-container *ngIf="paymentType === null">
						<div class="kt-payment-type" (click)="paymentType = 'credit_card'">
							<div class="kt-payment-type__icon text-center kt-font-info">
								<i class="fas fa-credit-card"></i>
							</div>

							<h5 class="mb-0 type">Cartão de crédito <small class="d-inline-block ml-2">em até 12x com juros</small></h5>
						</div>

						<div class="kt-payment-type" (click)="paymentType = 'bank_slip'">
							<div class="kt-payment-type__icon text-center kt-font-info">
								<i class="fas fa-file-invoice"></i>
							</div>

							<h5 class="mb-0 type">Boleto bancário <small class="d-inline-block ml-2">vencimento em 7 dias</small></h5>
						</div>
					</ng-container>

					<form [formGroup]="billingForm">
						<div class="form-group mt-4 mb-1" *ngIf="paymentType === 'credit_card'">
							<label for="installments">Pagamento em</label>
							<select id="installments" class="form-control" placeholder="1x" formControlName="installments">
								<option value="1">1x sem juros</option>
								<option value="2">2x com juros</option>
								<option value="3">3x com juros</option>
								<option value="4">4x com juros</option>
								<option value="5">5x com juros</option>
								<option value="6">6x com juros</option>
								<option value="7">7x com juros</option>
								<option value="8">8x com juros</option>
								<option value="9">9x com juros</option>
								<option value="10">10x com juros</option>
								<option value="11">11x com juros</option>
								<option value="12">12x com juros</option>
							</select>
						</div>

						<h5 class="border-bottom border-gray mt-5">2) Informações do comprador</h5>

						<div class="form-group">
							<label for="fullName">Nome completo</label>
							<input id="fullName" type="text" class="form-control" placeholder="João das Neves" formControlName="fullName">
						</div>

						<div class="form-group">
							<label for="cellphoneNumber">Número de telefone</label>
							<input id="cellphoneNumber" type="text" class="form-control" placeholder="(00) 00000-0000" formControlName="cellphone">
						</div>

						<div class="form-group">
							<label for="document">CPF</label>
							<input id="document" type="text" class="form-control" placeholder="000.000.000-00" formControlName="document">
						</div>

						<div class="form-group">
							<label for="birthDate">Data de nascimento</label>
							<input id="birthDate" type="text" class="form-control" placeholder="00/00/0000" formControlName="birthday">
						</div>

						<h5 class="border-bottom border-gray mt-5">3) Endereço de cobrança</h5>

						<div class="form-group">
							<label for="zipCode">CEP</label>
							<input id="zipCode" type="text" class="form-control" placeholder="00000-000" formControlName="zipcode">
						</div>

						<div class="form-group">
							<label for="street">Endereço</label>
							<input id="street" type="text" class="form-control" placeholder="Rua, Avenida, Alameda" formControlName="street">
						</div>

						<div class="form-group">
							<label for="number">Número</label>
							<input id="number" type="text" class="form-control" placeholder="Número ou s/n" formControlName="number">
						</div>

						<div class="form-group">
							<label for="complement">Complemento (opcional)</label>
							<input id="complement" type="text" class="form-control" placeholder="Apartamento, prédio, casa, andar, etc" formControlName="complementary">
						</div>

						<div class="form-group">
							<label for="neighborhood">Bairro</label>
							<input id="neighborhood" type="text" class="form-control" placeholder="Jardim das Flores" formControlName="neighborhood">
						</div>

						<div class="form-group">
							<label for="city">Cidade</label>
							<input id="city" type="text" class="form-control" placeholder="Sorocaba" formControlName="city">
						</div>

						<div class="form-group">
							<label for="state">Estado</label>
							<input id="state" type="text" class="form-control" placeholder="São Paulo" formControlName="state">
						</div>

					</form>

                </div>
                <div class="kt-portlet__foot d-flex justify-content-end">
                    <button type="button" class="btn btn-primary btn-brand btn-bold" (click)="confirmOrder()">Finalizar pedido</button>
                </div>
            </div>
        </div>
	</div>

	<div class="row" *ngIf="items?.length === 0">
		<div class="col-lg-12">
			<kt-portlet>
				<kt-portlet-body class="d-flex align-items-center justify-content-center flex-column">
					<h5 class="text-center mb-4">Ainda não há itens adicionados para compra em seu carrinho.</h5>

					<button class="btn btn-success" (click)="openCategorySelectionDialog()">Pedir nova demanda</button>

					<span class="d-block my-3">ou</span>

					<button class="btn btn-info" (click)="redirectToOrderList()">Ver minhas demandas</button>
				</kt-portlet-body>
			</kt-portlet>
		</div>
	</div>
</div>


<!--
                    <div class="alert alert-light alert-elevate mb-0" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning"></i></div>
                        <div class="alert-text">Assim que finalizado nossa equipe entrará em contato com você dentro de 24h para pegar o briefing.</div>
                    </div>

                    <h4 class="mb-3 mt-5">Descrição</h4>
                    <div id="taskInformation"></div>

                    <h4 class="mt-5">Anexos <button class="btn btn-outline-dark btn-sm btn-bold ml-3">Adicionar um novo anexo</button></h4>

                    <div class="row mt-3">
                        <div class="col-xl-4" *ngFor="let a of [1, 1, 1]">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head kt-portlet__head--noborder">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title"></h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                                            <i class="flaticon-more-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="kt-nav">
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                                        <span class="kt-nav__link-text">Remover</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget__files">
                                        <div class="kt-widget__media">
                                            <img class="kt-widget__img kt-hidden-" src="assets/media/files/xml.svg" alt="image">
                                        </div>

                                        <span class="kt-widget__desc">
                                            Navitare Booking API.xml
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
