<div class="kt-notes__media">
    <ng-container *ngIf="comment?.sender_type == 'freelancer'">
        <img *ngIf="comment?.freelancer?.profile?.avatar != null && comment?.freelancer?.profile?.avatar != ''" [src]="comment?.freelancer?.profile?.avatar" alt="User Avatar">
        <span *ngIf="comment?.freelancer?.profile?.avatar == null || comment?.freelancer?.profile?.avatar == ''" class="kt-notes__user kt-font-boldest">{{comment?.freelancer?.profile?.name | firstLetter}}{{comment?.freelancer?.profile?.last_name | firstLetter}}</span >
    </ng-container>
    <ng-container *ngIf="comment?.sender_type == 'admin'">
        <img *ngIf="comment?.admin?.avatar != null && comment?.admin?.avatar != ''" [src]="comment?.admin?.avatar" alt="User Avatar">
        <span *ngIf="comment?.admin?.avatar == null || comment?.admin?.avatar == ''" class="kt-notes__user kt-font-boldest ">{{comment?.admin?.name | firstLetter}}{{comment?.admin?.last_name | firstLetter}}</span>
    </ng-container>
</div>
<div class="kt-notes__content">
    <div class="kt-notes__section">
        <div class="kt-notes__info">
            <a href="#" class="kt-notes__title">
                <ng-container *ngIf="comment?.sender_type == 'freelancer'">{{comment?.freelancer?.profile?.name}} {{comment?.freelancer?.profile?.last_name}}</ng-container>
                <ng-container *ngIf="comment?.sender_type == 'admin'">{{comment?.admin?.name}} {{comment?.admin?.last_name}}</ng-container>
            </a>
            <span class="kt-notes__desc">
                {{moment(comment?.created_at).fromNow()}}
            </span>
            <span *ngIf="comment?.sender_type == 'admin'" class="kt-badge kt-badge--success kt-badge--inline">Admin</span>
        </div>
    </div>
    <span class="kt-notes__body kt-kanban-commentary" [innerHTML]="commentText"></span>
</div>