<div class="row">
    <div class="col-lg-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Horas disponíveis
                        <small>Suas horas disponíveis na semana</small>
                    </h3>
                </div>
            </div>
            <form class="kt-portlet__body" [formGroup]="changeTimeAvailable" autocomplete="off">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th style="width: 150px;">Tempo disponível</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Segunda-feira</td>
                            <td>
                                <input type="number" formControlName="monday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.monday">
                                <div class="mt-2" *ngIf="isControlHasError('monday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('monday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('monday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Terça-feira</td>
                            <td>
                                <input type="number" formControlName="tuesday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.tuesday">
                                <div class="mt-2" *ngIf="isControlHasError('tuesday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('tuesday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('tuesday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Quarta-feira</td>
                            <td>
                                <input type="number" formControlName="wednesday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.wednesday">
                                <div class="mt-2" *ngIf="isControlHasError('wednesday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('wednesday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('wednesday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Quinta-feira</td>
                            <td>
                                <input type="number" formControlName="thursday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.thursday">
                                <div class="mt-2" *ngIf="isControlHasError('thursday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('thursday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('thursday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sexta-feira</td>
                            <td>
                                <input type="number" formControlName="friday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.friday">
                                <div class="mt-2" *ngIf="isControlHasError('friday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('friday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('friday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sábado</td>
                            <td>
                                <input type="number" formControlName="saturday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.saturday">
                                <div class="mt-2" *ngIf="isControlHasError('saturday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('saturday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('saturday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Domingo</td>
                            <td>
                                <input type="number" formControlName="sunday" class="form-control text-center" placeholder="Horas" [value]="freelancer?.time_available?.sunday">
                                <div class="mt-2" *ngIf="isControlHasError('sunday','required')">
                                    <span class="text-danger"><small><b>É obrigatório um valor</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('sunday','min')">
                                    <span class="text-danger"><small><b>Minimo de 0 horas</b></small></span>
                                </div>
                                <div class="mt-2" *ngIf="isControlHasError('sunday','max')">
                                    <span class="text-danger"><small><b>Máximo de 8 horas</b></small></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Total semanal</b></td>
                            <td><input disabled readonly type="number" [value]="getTotalAvailableHours()" class="form-control text-center font-weight-bold border-0" placeholder="Total horas"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="kt-portlet__foot">
                <div>
                    <span *ngIf="freelancer?.time_available?.requested_analysis_at != null" class="font-weight-bold text-primary text-center d-block mb-1">Reanálise pedida em {{moment(freelancer?.time_available?.requested_analysis_at).format('DD/MM/YYYY [às] HH:mm')}}</span>
                    <small class="d-block text-center"><a href="#" placement="top" ngbPopover="Nós da _mybrief priorizamos o bem-estar de todos da comunidade e por esse motivo pedimos que qualquer alteração no fluxo de trabalho seja através do dialogo e bom senso. Forte Abraço MyParça!" popoverTitle="Olá myfreela, belê?">Por que preciso pedir reanálise?</a></small>
                </div>
                <div class="kt-align-right mt-3">
                    <button (click)="requestNewAnalysis()" type="submit" class="btn btn-brand" *ngIf="!freelancer.time_available.can_update_time_available && freelancer?.time_available?.requested_analysis_at == null">Pedir reanálise</button>
                    <button (click)="updateTimeAvailable()" type="submit" class="btn btn-brand" *ngIf="freelancer.time_available.can_update_time_available" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary"
                        [disabled]="loading">Atualizar horários</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Horas atribuídas
                        <small>Suas horas e número de atividades já atribuídas a você</small>
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Itens para realizar</th>
                            <th style="width: 150px;">Horas atreladas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13</td>
                            <td>15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Conta para pagamento
                        <small>Conta <b>no seu nome</b> que será usada para receber seu pagamento</small>
                    </h3>
                </div>
            </div>
            <form class="kt-portlet__body" [formGroup]="updateBankAccountAvailable" autocomplete="off">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Banco</td>
                            <td>
                                <input type="text" class="form-control" [value]="freelancer?.bank_account?.bank" placeholder="Nome do banco" formControlName="bank">
                            </td>
                        </tr>
                        <tr>
                            <td>Agência</td>
                            <td><input type="text" class="form-control" [value]="freelancer?.bank_account?.agency" placeholder="Agência" formControlName="agency"></td>
                        </tr>
                        <tr>
                            <td>Conta</td>
                            <td><input type="text" class="form-control" [value]="freelancer?.bank_account?.account" placeholder="Conta" formControlName="account"></td>
                        </tr>
                        <tr>
                            <td>Nome completo</td>
                            <td><input type="text" class="form-control" [value]="freelancer?.bank_account?.full_name" placeholder="Nome completo" formControlName="full_name"></td>
                        </tr>
                        <tr>
                            <td>CPF</td>
                            <td><input type="text" class="form-control" [value]="freelancer?.bank_account?.cpf" placeholder="CPF" formControlName="cpf"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="kt-portlet__foot">
                <div class="kt-align-right">
                    <button (click)="updateBankAccount()" type="submit" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loadingSavingBank}" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="loadingSavingBank">Atualizar conta</button>
                </div>
            </div>
        </div>
    </div>
</div>