<div class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
    <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
        <div class="kt-subheader__main">
            <h3 *ngIf="title" class="kt-subheader__title">{{title}}</h3>
            <h4 *ngIf="desc" class="kt-subheader__desc">{{desc}}</h4>
            <div class="kt-subheader__breadcrumbs" *ngIf="breadcrumbs.length > 0">
                <span class="kt-subheader__separator" [hidden]="true"></span>
                <a class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <ng-container *ngFor="let item of breadcrumbs">
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a [routerLink]="item.page" [queryParams]="item.queryParams" class="kt-subheader__breadcrumbs-link">
						{{item.title}}
					</a>
                </ng-container>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
    </div>
</div>