<kt-portlet>
    <kt-portlet-header title="Qual categoria você deseja?"></kt-portlet-header>
    <kt-portlet-body>
        <div class="row">
            <div class="col-lg-6">
                <kt-portlet>
                    <kt-portlet-body>
                        <div class="kt-widget__files">
                            <div class="kt-widget__media">
                                <i class="flaticon-responsive" style="font-size: 4.2em;"></i>
                            </div>
                            <span class="kt-widget__desc">
                                <button class="btn btn-outline-dark btn-elevate" (click)="onCategoryClick('produtos/desenvolvimento')">Desenvolvimento</button>
                            </span>
                        </div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
            <div class="col-lg-6">
                <kt-portlet>
                    <kt-portlet-body>
                        <div class="kt-widget__files">
                            <div class="kt-widget__media">
                                <i class="flaticon-facebook-letter-logo" style="font-size: 4.2em;"></i>
                            </div>
                            <span class="kt-widget__desc">
                                <button class="btn btn-outline-dark btn-elevate" (click)="onCategoryClick('produtos/social-media')">Social media</button>
                            </span>
                        </div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
            <div class="col-lg-6">
                <kt-portlet>
                    <kt-portlet-body>
                        <div class="kt-widget__files">
                            <div class="kt-widget__media">
                                <i class="flaticon-diagram" style="font-size: 4.2em;"></i>
                            </div>
                            <span class="kt-widget__desc">
                                <button class="btn btn-outline-dark btn-elevate" (click)="onCategoryClick('produtos/estrategia')">Estratégia</button>
                            </span>
                        </div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
            <div class="col-lg-6">
                <kt-portlet>
                    <kt-portlet-body>
                        <div class="kt-widget__files">
                            <div class="kt-widget__media">
                                <i class="flaticon-open-box" style="font-size: 4.2em;"></i>
                            </div>
                            <span class="kt-widget__desc">
                                <button class="btn btn-outline-dark btn-elevate">Customizado</button>
                            </span>
                        </div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>
