.kt-kanban-dialog {
    position: relative;
    padding: 8px;
    color: #000000;
    &__comments {
        margin-top: 50px;
    }
    &__body {
        padding: 8px;
        h1 {
            font-size: 16px;
        }
        &__description {
            width: 100%;
            flex: 1 1 auto;
            overflow-wrap: break-word;
            box-sizing: border-box;
            min-height: 24px;
            padding: 12px 0px;
            font-size: 14px;
            color: #000;
        }
    }
    &__header {
        position: relative;
        display: flex;
        align-items: flex-start;
        .close {
            width: 39px;
        }
        &__title {
            width: 100%;
            flex: 1 1 auto;
            overflow-wrap: break-word;
            box-shadow: none;
            font-weight: 600;
            min-height: 24px;
            padding: 12px 8px;
            font-size: 20px;
            font-weight: 600;
            color: #646c9a;
        }
    }
    &__attachments {
        .kt-widget5__item {
            padding: .75rem .75rem;
            .kt-widget5__content {
                .kt-widget5__stats {
                    .kt-widget5__number {
                        font-weight: 300;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    &__comment-container {
        .note-editor.note-frame {
            border: 1px solid #e8eaf2 !important;
            .note-statusbar {
                background-color: #e8eaf2;
            }
        }
        .note-editor .note-editing-area {
            p {
                margin: 0;
            }
            .note-placeholder {
                padding: 1rem;
            }
            .note-editable {
                padding: 1rem;
                border-radius: 6px;
                background-color: #F7F8FC;
            }
        }
    }
    #actions {
        &.kt-nav {
            .kt-nav__item {
                &.only-text {
                    span.kt-nav__link {
                        cursor: default !important;
                    }
                    &:hover {
                        background-color: transparent !important;
                        span.kt-nav__link {
                            background-color: transparent !important;
                            .kt-nav__link-text {
                                color: #595d6e !important;
                            }
                        }
                    }
                }
            }
        }
    }
}