<div class="kt-admin-kanban-dialog">
    <div class="kt-admin-kanban-dialog__header">
        <div class="d-flex w-100">
            <input class="form-control" [value]="job?.title" style="background-color: #F7F8FC;">

            <button class="btn btn-outline-primary ml-3">Salvar</button>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss Button')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="kt-admin-kanban-dialog__body">
        <div class="row">
            <div class="col-lg-8">
                <h1>Descrição</h1>

                <div class="kt-admin-kanban-dialog__body__description">
                    <div id="cardDescription"></div>
                </div>

                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-outline-primary btn-sm" (click)="emitCommentary()">Salvar descrição</button>
                </div>

                <div class="kt-admin-kanban-dialog__attachments mt-4" *ngIf="job?.attachment?.length > 0 || uploadingAttachment?.length > 0">
                    <h1>Anexos</h1>
                    <div class="kt-widget5">
                        <div class="kt-widget5__item" *ngFor="let attachment of job?.attachment" [ngClass]="{ 'd-none': deletingAttachment.includes(attachment?.id), 'bg-light': attachment?.sender_type == 'admin' }">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img *ngIf="!attachment?.mime_type.includes('image')" style="max-width: 60px" class="kt-widget7__img" [src]="attachment.url | extensionNameIcon" alt="">
                                    <img *ngIf="attachment?.mime_type.includes('image')" style="max-width: 60px" class="kt-widget7__img" [src]="attachment.url" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a [href]="attachment?.url" target="_BLANK" class="kt-widget5__title" *ngIf="attachment?.mime_type.includes('image')">
                                        {{attachment?.name}}
                                    </a>
                                    <span #name class="kt-widget5__title" *ngIf="!attachment?.mime_type.includes('image')" (mouseover)="name.style.color = '#595d6e'">
                                        {{attachment?.name}}
                                    </span>
                                    <p class="kt-widget5__desc">
                                        {{attachment?.bytes | formatSize}}
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Enviado por {{attachment?.sender_type == 'admin' ? 'você' : attachment?.freelancer?.profile?.name}} {{moment(attachment?.created_at).fromNow()}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div style="width: 70px;">
                                    <a (click)="emitDeleteAttachment(attachment?.id)" class="kt-font-danger" href="#">Excluir</a>
                                </div>
                                <div style="width: 70px;">
                                    <a class="kt-font-dark" [href]="downloadFn(attachment?.id)" target="_BLANK">Baixar</a>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget5__item" *ngFor="let attachment of uploadingAttachment">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <div style="width: 60px; height: 60px;" class="skeleton-box"></div>
                                </div>
                                <div class="kt-widget5__section">
                                    <span class="kt-widget5__title skeleton-box">
                                        {{attachment?.name}}
                                    </span>
                                    <p class="kt-widget5__desc">
                                        <span class="skeleton-box">{{attachment?.bytes | formatSize}}</span>
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span class="skeleton-box">Sendo enviado por você</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div style="width: 70px;"><a href="#" class="skeleton-box">Excluir</a></div>
                                <div style="width: 70px;"><a href="#" class="skeleton-box">Baixar</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="mt-5">Comentários</h1>
                <div id="newCommentContainer" class="kt-admin-kanban-dialog__comment-container mt-4">
                    <div id="summernote"></div>
                </div>
                <button *ngIf="!isCommentEmpty()" class="btn btn-primary float-right mt-n3" (click)="emitCommentary()">Enviar</button>

                <div class="kt-admin-kanban-dialog__comments">
                    <div class="kt-notes">
                        <div class="kt-notes__items">
                            <kt-admin-kanban-dialog-comment class="d-block kt-notes__item" *ngFor="let comment of job.commentary" [comment]="comment" (tagged-user-click)="console.log($event.user)"></kt-admin-kanban-dialog-comment>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="ml-lg-3 kt-nav kt-nav--bold kt-nav--md-space kt-nav--v3" id="actions">
                    <li class="kt-nav__item only-text">
                        <span class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        <span class="kt-nav__link-text" style="width: 45px">
                                <b>Início:</b> {{moment(job?.start_date).format('DD/MM/YY [às] HH:mm')}}
                            </span>
                        </span>
                    </li>
                    <li class="kt-nav__item only-text">
                        <span class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i class="fas fa-hourglass-half"></i>
                            </span>
                        <span class="kt-nav__link-text" style="width: 45px">
                                <b>Prazo:</b> {{moment(job?.finish_date).format('DD/MM/YY [às] HH:mm')}}
                            </span>
                        </span>
                    </li>
                    <li class="kt-nav__item only-text">
                        <div [hidden]="true">
                            <input #startDateIpt class="form-control" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3" name="startAndFinishDate" ngDefaultControl [ngModel]="selectedMoments" (ngModelChange)="emitDeadline($event)">
                            <owl-date-time [pickerMode]="'dialog'" #dtPicker3></owl-date-time>
                        </div>
                        <span class="kt-nav__link py-0">
                            <button class="btn btn-dark btn-block btn-sm" (click)="startDateIpt.click()">Alterar prazo</button>
                        </span>
                    </li>
                    <li class="kt-nav__separator"></li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link" href="#" (click)="openFileDialog($event)">
                            <span class="kt-nav__link-icon">
                                <i class="fas fa-paperclip kt-font-success"></i>
                            </span>
                            <span class="kt-nav__link-text">Anexar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<input id="iptFile" (change)="onFileChange($event)" type="file" style="width: 0px !important; height: 0px !important; overflow: hidden !important; opacity: 0 !important">