<div class="kt-plan" [ngClass]="class">
	<div class="kt-plan__image">
		<img *ngIf="image" [src]="image" alt="Product Image">
		<span [hidden]="image != null" class="kt-badge kt-badge--dark kt-badge--xl"><i class="fas fa-question"></i></span>

	</div>

	<h1 class="kt-plan__name">{{name}}</h1>
	<span class="kt-plan__description" *ngIf="description">{{description}}</span>

	<hr>

	<div class="kt-plan__products">
		<ng-container *ngFor="let planProduct of planProducts">
			<h6 *ngIf="planProduct?.item_type === 'product'">{{planProduct?.quantity}}x {{planProduct?.product?.name}}</h6>
			<h6 *ngIf="planProduct?.item_type === 'package'">{{planProduct?.quantity}}x {{planProduct?.package?.name}}</h6>
		</ng-container>
	</div>

	<hr>

	<div class="kt-plan__prices">
		<span class="kt-plan__prices__cash">
			{{cash}}

			<small>R$</small>
		</span>
	</div>

	<hr>

	<div class="kt-plan__allowed_payment_type">
		<div class="kt-plan__allowed_payment_type__type" *ngIf="allowedPaymentType === 'all' || allowedPaymentType === 'credit_card'">
			<i class="far fa-credit-card"></i>
			<span>Cartão de crédito</span>
		</div>
		<div class="kt-plan__allowed_payment_type__type" *ngIf="allowedPaymentType === 'all' || allowedPaymentType === 'bank_slip'">
			<i class="fas fa-money-check-alt"></i>
			<span>Boleto bancário</span>
		</div>
	</div>
</div>
