<div *ngIf="user != null" ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
    <div ngbDropdownToggle class="kt-header__topbar-wrapper">
        <span class="kt-header__topbar-welcome">Hi,</span>
        <ng-container *ngIf="userType == 'freelancer'">
            <span class="kt-header__topbar-username">{{user?.profile?.name}}.</span>
            <span class="kt-header__topbar-icon"><b>{{user?.profile?.name | firstLetter}}{{ user?.profile?.last_name | firstLetter }}</b></span>
        </ng-container>
        <ng-container *ngIf="userType == 'admin'">
            <span class="kt-header__topbar-username">{{user?.name}}.</span>
            <span class="kt-header__topbar-icon"><b>{{user?.name | firstLetter}}{{ user?.last_name | firstLetter }}</b></span>
        </ng-container>
        <ng-container *ngIf="userType == 'company'">
            <span class="kt-header__topbar-username">{{user?.name}}.</span>
            <span class="kt-header__topbar-icon"><b>{{user?.name | firstLetter}}{{ user?.last_name | firstLetter }}</b></span>
        </ng-container>
    </div>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
        <!--begin: Head -->
        <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
            <div class="kt-user-card__avatar">
                <ng-container *ngIf="userType == 'freelancer'">
                    <img *ngIf="user?.profile?.avatar != null && user?.profile?.avatar != ''" alt="Pic" [src]="user?.profile?.avatar" />
                    <span *ngIf="user?.profile?.avatar == null || user?.profile?.avatar == ''" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
                        {{user?.profile?.name +' '+ user?.profile?.last_name|firstLetter}}
                    </span>
                </ng-container>
                <ng-container *ngIf="userType == 'admin'">
                    <img *ngIf="user?.avatar != null && user?.avatar != ''" alt="Pic" [src]="user?.avatar" />
                    <span *ngIf="user?.avatar == null || user?.avatar == ''" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
                        {{user?.name +' '+ user?.last_name|firstLetter}}
                    </span>
                </ng-container>
                <ng-container *ngIf="userType == 'company'">
                    <img *ngIf="user?.avatar != null && user?.avatar != ''" alt="Pic" [src]="user?.avatar" />
                    <span *ngIf="user?.avatar == null || user?.avatar == ''" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
                        {{user?.name +' '+ user?.last_name|firstLetter}}
                    </span>
                </ng-container>
            </div>
            <div class="kt-user-card__name">
                <ng-container *ngIf="userType == 'freelancer'">
                    {{user?.profile?.name}} {{user?.profile?.last_name}}
                </ng-container>

                <ng-container *ngIf="userType == 'admin'">
                    {{user?.name}} {{user?.last_name}}
                </ng-container>

                <ng-container *ngIf="userType == 'company'">
                    {{user?.name}} {{user?.last_name}}
                </ng-container>
            </div>
            <div class="kt-user-card__badge" [hidden]="true">
                <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
            </div>
        </div>
        <!--end: Head -->

        <!--begin: Navigation -->
        <div class="kt-notification">
            <a ngbDropdownItem routerLink="/prestador/perfil/geral" href="javascript:;" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                        Meu perfil
                    </div>
                    <div class="kt-notification__item-time">
                        Configurações de conta e mais
                    </div>
                </div>
            </a>
            <a ngbDropdownItem routerLink="/prestador/perfil/geral" href="javascript:;" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="flaticon2-rocket-1 kt-font-danger"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                        Minhas atividades
                    </div>
                    <div class="kt-notification__item-time">
                        Logs e notificações
                    </div>
                </div>
            </a>
            <a ngbDropdownItem routerLink="/prestador/tarefas" href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="flaticon2-hourglass kt-font-brand"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                        Meu quadro
                    </div>
                    <div class="kt-notification__item-time">
                        Suas tarefas e projetos atribuídos
                    </div>
                </div>
            </a>
            <div class="kt-notification__custom">
                <a href="javascript:;" (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sair</a>
            </div>
        </div>
        <!--end: Navigation -->

        <!--begin: Navigation(alternative) -->
        <ul class="kt-nav kt-margin-b-10 kt-hidden">
            <li class="kt-nav__item">
                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                    <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                    <span class="kt-nav__link-text">My Profile</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                    <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                    <span class="kt-nav__link-text">My Tasks</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                    <span class="kt-nav__link-icon"><i class="flaticon2-mail"></i></span>
                    <span class="kt-nav__link-text">Messages</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                    <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
                    <span class="kt-nav__link-text">Settings</span>
                </a>
            </li>
            <li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
                <a (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
            </li>
        </ul>
        <!--end: Navigation(alternative) -->
    </div>
</div>


<!-- <a (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a> -->