<div class="row">
    <div class="col-lg-6">
        <div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Horas disponíveis
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th style="width: 150px;">Tempo disponível</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Segunda-feira</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Terça-feira</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Quarta-feira</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Quinta-feira</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Sexta-feira</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Sábado</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Domingo</td>
                            <td><input type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                        <tr>
                            <td>Total semanal</td>
                            <td><input disabled readonly type="number" class="form-control" placeholder="Horas"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-align-right">
                    <button type="submit" class="btn btn-brand">Pedir reanálise</button>
                </div>
			</div>
		</div>
    </div>
    <div class="col-lg-6">
        <div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Horas atribuídas
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Itens para realizar</th>
                            <th style="width: 150px;">Horas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13</td>
                            <td>15</td>
                        </tr>
                    </tbody>
                </table>
			</div>
        </div>
        <div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Conta para pagamento
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Banco</td>
                            <td><input type="text" class="form-control" placeholder="Nome"></td>
                        </tr>
                        <tr>
                            <td>Agência</td>
                            <td><input type="text" class="form-control" placeholder="Agência"></td>
                        </tr>
                        <tr>
                            <td>Conta</td>
                            <td><input type="text" class="form-control" placeholder="Conta"></td>
                        </tr>
                        <tr>
                            <td>Nome completo</td>
                            <td><input type="text" class="form-control" placeholder="Nome completo"></td>
                        </tr>
                        <tr>
                            <td>CPF</td>
                            <td><input type="text" class="form-control" placeholder="CPF"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-align-right">
                    <button type="submit" class="btn btn-brand">Pedir reanálise</button>
                </div>
			</div>
		</div>
    </div>
</div>