.kt-widget__username {
    cursor: default;
    &:hover {
        color: initial !important;
    }
}

.kt-widget__subhead {
    a {
        cursor: default;
        &:hover {
            color: initial !important;
        }
    }
}