<div class="kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet" *ngIf="isLoading">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__pic kt-widget__pic--danger kt-font-boldest kt-font-light skeleton-box"></div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <a href="#" class="kt-widget__username skeleton-box"><i class="flaticon2-correct kt-font-success"></i></a>

                            <div class="kt-widget__action">
                                <button type="button" class="btn btn-outline-success btn-sm btn-upper skeleton-box">loading</button>
                                <button type="button" class="btn btn-upper btn-primary btn-sm skeleton-box">loading</button>
                            </div>
                        </div>

                        <div class="kt-widget__subhead">
                            <a class="skeleton-box" href="#"><i class="flaticon2-new-email"></i>loading</a>
                            <a class="skeleton-box" href="#"><i class="flaticon2-calendar-3"></i>loading</a>
                            <a class="skeleton-box" href="#"><i class="flaticon2-placeholder"></i>loading</a>
                        </div>

                        <div class="kt-widget__info">
                            <div class="kt-widget__desc skeleton-box">loading</div>
                            <div class="kt-widget__progress skeleton-box">
                                <div class="kt-widget__text" style="width: 90px">loading</div>
                                <div class="" style="height: 5px;width: 100%;"></div>
                                <div class="kt-widget__stats">loading</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__bottom">
                    <div class="kt-widget__item justify-content-center">
                        <div class="kt-widget__icon skeleton-box">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title skeleton-box">loading</span>
                            <span class="kt-widget__value skeleton-box">loading</span>
                        </div>
                    </div>

                    <div class="kt-widget__item justify-content-center">
                        <div class="kt-widget__icon skeleton-box">
                            <i class="flaticon-pie-chart"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title skeleton-box">loading</span>
                            <span class="kt-widget__value skeleton-box">loading</span>
                        </div>
                    </div>

                    <div class="kt-widget__item justify-content-center">
                        <div class="kt-widget__icon skeleton-box">
                            <i class="flaticon-file-2"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title skeleton-box">loading</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--begin:: Portlet-->
    <div class="kt-portlet" *ngFor="let freelancer of freelancers" [style.opacity]="freelancerBeingDeleted.includes(freelancer.id) ? '0.5' : 1">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media" [hidden]="freelancer?.profile?.avatar == null">
                        <img [src]="freelancer?.profile?.avatar" alt="Freelancer avatar">
                    </div>
                    <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light" [hidden]="freelancer?.profile?.avatar != null">
                        {{freelancer?.profile?.name + ' ' + freelancer?.profile?.last_name | firstLetter}}
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <span class="kt-widget__username">
                                {{freelancer?.profile?.name}} {{freelancer?.profile?.last_name}} (@{{freelancer?.username}})
                                <i matTooltipPosition="above" [matTooltip]="freelancer?.valid == 1 ? 'Usuário confirmado' : 'Usuário não confirmado'" class="fas" [ngClass]="freelancer?.valid == 1 ? 'fa-check-circle kt-font-success' : 'fa-times-circle kt-font-danger'"></i>
                            </span>

                            <div class="kt-widget__action">
                                <button type="button" class="btn btn-outline-success btn-sm btn-upper" (click)="openFreelancerNewTaskDialog(null)">Nova tarefa</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-upper btn-primary btn-sm" (click)="openEditFreelancerDialog(freelancer)">Editar</button>
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                        <button class="btn btn-label-primary btn-sm dropdown-toggle-split ml-0" ngbDropdownToggle>
                                            <i class="fas fa-plus p-0"></i>
                                        </button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <button (click)="deleteFreelancer(freelancer.id)" class="dropdown-item">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="kt-widget__subhead">
                            <a href="#"><i class="flaticon2-new-email"></i>{{freelancer?.email}}</a>
                            <a href="#"><i class="flaticon2-calendar-3"></i>{{freelancer?.profile?.job}}</a>
                            <a href="#"><i class="flaticon2-placeholder"></i>{{freelancer?.profile?.location}}</a>
                            <a href="#"><i class="fas fa-mobile-alt"></i>{{freelancer?.profile?.cellphone}}</a>
                        </div>

                        <div class="kt-widget__info">
                            <div class="kt-widget__progress">
                                <div class="kt-widget__text" style="width: 90px">
                                    Valor / h
                                </div>
                                <div class="progress" style="height: 5px;width: 100%;">
                                    <div class="progress-bar kt-bg-success" role="progressbar" [style.width]="freelancer?.financial?.hour_value_progress + '%'" [attr.aria-valuenow]="freelancer?.financial?.hour_value_progress" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="kt-widget__stats">
                                    {{freelancer?.financial?.hour_value_progress}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__bottom">
                    <div class="kt-widget__item justify-content-center">
                        <div class="kt-widget__icon">
                            <i class="flaticon-piggy-bank"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">Ganho mensal</span>
                            <span class="kt-widget__value">{{freelancer?.financial?.month_earning | currency:'BRL'}}</span>
                        </div>
                    </div>

                    <div class="kt-widget__item justify-content-center">
                        <div class="kt-widget__icon">
                            <i class="flaticon-pie-chart"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">Valor hora</span>
                            <span class="kt-widget__value">{{freelancer?.financial?.current_hourly_value | currency:'BRL'}}</span>
                        </div>
                    </div>

                    <div class="kt-widget__item justify-content-center">
                        <div class="kt-widget__icon">
                            <i class="flaticon-file-2"></i>
                        </div>
                        <div class="kt-widget__details">
                            <span class="kt-widget__title">{{freelancer?.job_count}} tarefas</span>
                            <a routerLink="/administrador/tarefas" [queryParams]="{freelancer: freelancer?.id}" class=" kt-widget__value kt-font-brand ">Ver quadro</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--end:: Portlet-->
</div>