<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Mudar senha</h3>
        </div>
    </div>
    <form class="kt-form kt-form--label-right" [formGroup]="changePasswordForm" autocomplete="off">
        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Senha atual</label>
                        <div class="col-lg-9 col-xl-6">
                            <input #input type="password" class="form-control" value="" placeholder="••••••••" formControlName="oldPassword" autocomplete="off">
                            <a href="#" class="kt-link kt-font-sm kt-font-bold kt-margin-t-5">Esqueci minha senha</a>
                            <div class="mt-2" *ngIf="isControlHasError('oldPassword','required')">
                                <span class="text-danger"><small><b>A senha antiga é obrigatória</b></small></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Nova senha</label>
                        <div class="col-lg-9 col-xl-6">
                            <input #input type="password" class="form-control" value="" placeholder="••••••••" formControlName="newPassword" autocomplete="off">
                            <div class="mb-1" *ngIf="isControlHasError('newPassword','required')">
                                <span class="text-danger"><small><b>A nova senha é obrigatória</b></small></span>
                            </div>
                            <div class="mb-1" *ngIf="isControlHasError('newPassword','minLength')">
                                <span class="text-danger"><small><b>A senha precisa ter pelo menos 3 caracteres</b></small></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-last row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Confirmar nova senha</label>
                        <div class="col-lg-9 col-xl-6">
                            <input #input type="password" class="form-control mb-2" value="" placeholder="••••••••" formControlName="confirmNewPassword" autocomplete="off">
                            <div class="mb-1" *ngIf="isControlHasError('confirmNewPassword','required')">
                                <span class="text-danger"><small><b>A confirmação de senha é obrigatória</b></small></span>
                            </div>
                            <div class="mb-1" *ngIf="isControlHasError('confirmNewPassword','isMatching') && !isControlHasError('confirmNewPassword','minLength')">
                                <span class="text-danger"><small><b>A confirmação de senha está errada</b></small></span>
                            </div>
                            <div class="mb-1" *ngIf="isControlHasError('confirmNewPassword','minLength')">
                                <span class="text-danger"><small><b>A senha precisa ter pelo menos 3 caracteres</b></small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-align-right">
                <button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="loading">Atualizar senha</button>
            </div>
        </div>
    </form>
</div>