<div class="row">
    <div class="col-xl-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Informações pessoais <small>Mantenha sempre atualizada suas informações pessoais</small></h3>
                </div>
            </div>

            <form class="kt-form kt-form--label-right" [formGroup]="personalInformationForm" autocomplete="off">
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first mb-0">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                        <div class="kt-avatar__holder" *ngIf="freelancer?.profile?.avatar != null && newAvatarFile == null && !isDeletingAvatar" [style.backgroundImage]="'url('+freelancer?.profile?.avatar+')'" alt="image"></div>
                                        <div class="kt-avatar__holder" *ngIf="(freelancer?.profile?.avatar == null || isDeletingAvatar) && newAvatarFile == null" style="background-image: url(assets/media/users/default.jpg);" alt="image"></div>
                                        <div class="kt-avatar__holder" *ngIf="newAvatarFile != null" [ngStyle]="{
                                            'background-image': 'url(' + previewFileSrc + ')'
                                        }" alt="image"></div>
                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" (change)="onAvatarSelect($event)">
                                        </label>
                                        <span *ngIf="(freelancer?.profile?.avatar != null || isDeletingAvatar) || newAvatarFile != null" class="kt-avatar__cancel d-flex" matTooltipPosition="above" [matTooltip]="freelancer?.profile?.avatar != null && newAvatarFile == null && !isDeletingAvatar ? 'Excluir avatar' : !isDeletingAvatar ? 'Cancelar avatar' : 'Cancelar exclusão'"
                                            (click)="onCancelClick()">
                                            <i class="fa fa-times" *ngIf="newAvatarFile != null"  ></i>
                                            <i class="fa fa-trash-alt" *ngIf="(freelancer?.profile?.avatar != null || isDeletingAvatar) && newAvatarFile == null"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Nome completo</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control" type="text" [value]="freelancer?.profile?.name + ' ' + freelancer?.profile?.last_name" placeholder="Seu nome completo" formControlName="full_name" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Cidade</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control" type="text" [value]="freelancer?.profile?.location" placeholder="Sua cidade" formControlName="location" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Cargo atual</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control" type="text" [value]="freelancer?.profile?.job" placeholder="Seu cargo atual" formControlName="job" autocomplete="off">
                                    <span class="form-text text-muted">Somente para registro. Caso não queira informar ou esteja desempregado, você pode deixar em branco ou escrever <b>Freelancer</b>.</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <h3 class="kt-section__title kt-section__title-sm">Informações para contato:</h3>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Celular</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                        <input type="text" class="form-control" [value]="freelancer?.profile?.cellphone" placeholder="Seu celular" aria-describedby="basic-addon1" formControlName="cellphone" autocomplete="off">
                                    </div>
                                    <span class="form-text text-muted">Nós não compartilharemos o seu celular.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                        <input type="text" class="form-control" [value]="freelancer?.email" placeholder="Seu email" aria-describedby="basic-addon1" formControlName="email" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-align-right">
                        <button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="loading">Atualizar informações</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>