<div class="kt-package" [ngClass]="class">
	<div class="kt-package__image">
		<img *ngIf="image" [src]="image" alt="Product Image">
		<span [hidden]="image != null" class="kt-badge kt-badge--dark kt-badge--xl"><i class="fas fa-question"></i></span>

	</div>

	<h1 class="kt-package__name">{{name}}</h1>
	<span class="kt-package__description" *ngIf="description">{{description}}</span>

	<hr>

	<div class="kt-package__products">
		<h6 *ngFor="let packageProduct of packageProducts">{{packageProduct?.quantity}}x {{packageProduct?.product?.name}}</h6>
	</div>

	<hr>

	<div class="kt-package__prices" [class.single-coin]="coin || !cash" [class.single-cash]="!coin || cash">
		<span class="kt-package__prices__coin" *ngIf="coin">
			{{coin}}

			<small>_mycoin</small>
		</span>
		<span class="kt-package__prices__divider" *ngIf="coin && cash"></span>
		<span class="kt-package__prices__cash" *ngIf="cash">
			{{cash}}

			<small>R$</small>
		</span>
	</div>

	<hr>

	<div class="kt-package__allowed_payment_type">
		<div class="kt-package__allowed_payment_type__type" *ngIf="allowedPaymentType === 'all' || allowedPaymentType === 'credit_card'">
			<i class="far fa-credit-card"></i>
			<span>Cartão de crédito</span>
		</div>
		<div class="kt-package__allowed_payment_type__type" *ngIf="allowedPaymentType === 'all' || allowedPaymentType === 'bank_slip'">
			<i class="fas fa-money-check-alt"></i>
			<span>Boleto bancário</span>
		</div>
	</div>
</div>
