.kt-package {
	background: white;
	border-radius: 8px;
	width: 100%;
	padding: 12px;
	position: relative;
	transition: all linear .3s;
	box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.08);

	&.shadowless {
		box-shadow: none;
	}

	&.borderless {
		border-radius: 0;
	}

	&.hoverable {
		&:hover {
			cursor: pointer;
			transform: translateY(-2px) scale(1.01);
			box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.12);
		}
	}

	&__image {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 12px;
	}

	&__name {
		display: block;
		width: 100%;
		font-size: 18px;
		color: #000000;
		text-align: center;
		margin-bottom: 7px;
	}

	&__description {
		display: block;
		width: 100%;
		text-align: center;
		color: #1b1b1b;
	}

	&__products {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__prices {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&__divider {
			width: 1px;
			height: 16px;
			background: rgba(0,0,0, .12);
		}

		&__coin, &__cash {
			text-align: center;
			flex: 1 1 48%;
			font-size: 22px;
			font-weight: bold;

			small {
				font-size: 13px;
				display: block;
				text-transform: uppercase;
			}
		}

		&.single-coin {
			&__cash {
				display: none;
			}

			&__coin {
				flex: 1 1 auto;
			}
		}

		&.single-cash {
			&__coin {
				display: none;
			}

			&__cash {
				flex: 1 1 auto;
			}
		}

		&.single-cash, &.single-coin {
			&__divider {
				display: none;
			}
		}
	}

	&__allowed_payment_type {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__type {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			i {
				font-size: 23px;
				margin-bottom: 4px;
			}
		}
	}
}
