<div class="row">
	<div class="col-xl-6">
        <kt-portlet class="kt-portlet--height-fluid" *ngIf="!isLoading">
            <kt-portlet-header title="Acompanhe suas requisições"></kt-portlet-header>
            <kt-portlet-body>
				<kt-company-requests-percentage
					*ngIf="percentages?.total != null && percentages?.total != 0"
					[data]="percentages"
				></kt-company-requests-percentage>
				<div
					*ngIf="percentages?.total == null || percentages?.total == 0"
					class="d-flex align-items-center justify-content-center"
					style="height: 100%;"
				>
					<h3 class="mb-0">Sem dados necessários para o gráfico</h3>
				</div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-xl-6">
        <kt-portlet class="kt-portlet--height-fluid" *ngIf="!isLoading">
            <kt-portlet-header title="_mycoin & dados de consumo"></kt-portlet-header>
            <kt-portlet-body>
                <kt-company-available-coins-and-purchase-percentage [data]="consumption"></kt-company-available-coins-and-purchase-percentage>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>
