<div class="kt-portlet mb-0">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Editar Prestador
            </h3>
        </div>
    </div>
    <form class="kt-form kt-form--label-right" [formGroup]="editFreelancerForm" autocomplete="off">
        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <h3 class="kt-section__title">1. Informações Pessoais:</h3>
                <div class="kt-section__body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Nome</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: João" formControlName="name" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Sobrenome</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: Silva" formControlName="lastName" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Aniversário</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: 10/08/1997" formControlName="birthday" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Emprego</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: Programador" formControlName="job" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Área</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <select class="form-control" formControlName="area" autocomplete="off">
                                    <option value="developer">Desenvolvedor</option>
                                    <option value="designer">Designer</option>
                                    <option value="editor">Redator</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

                <h3 class="kt-section__title">2. Contato:</h3>
                <div class="kt-section__body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Celular</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: (15) 9 99762-0911" formControlName="cellphone" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Localização</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: Centro, Sorocaba" formControlName="location" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Email</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: hello@mybrief.com.br" formControlName="email" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

                <h3 class="kt-section__title">3. Financeiro:</h3>
                <div class="kt-section__body">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Ganho mensal</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: 3500,00" formControlName="monthEarning" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Valor hora</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: 31,55" formControlName="hourlyValue" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Valor hora (%)</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="la la-chain"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ex: 59" formControlName="hourlyValueProgress" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary" [disabled]="loading">Cancelar</button>
                    <button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary ml-2" [disabled]="loading">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>