.kt-company-requests {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	border: solid 1px #e7eff5;
	padding: 14px;
	align-items: flex-start;

	&__list {
		position: relative;
		width: 100%;
		display: none;

		&.active {
			display: flex;
		}

		&__item {
			display: flex;
			flex-direction: column;
			flex: 0 0 50%;
			width: 50%;
			border-radius: 4px;
			border: solid 1px #e7eff5;
			border-left: 3px solid #a134e3;
			box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
			padding: 8px;

			.title {
				display: block;
				font-weight: bold;
			}

			.product-name {
				text-transform: uppercase;
				display: block;
			}

			#rateJob {
				align-self: flex-end;
				margin-top: 6px;
			}
		}
	}
}

.kt-nav {
	border-top: solid 1px #e7eff5;
	border-bottom: solid 1px #e7eff5;
	border-left: solid 1px #e7eff5;
}
