<div class="row row-no-padding">
	<div class="col-lg-3">
		<ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v4" role="tablist">
			<li [ngClass]="{active: currentTab === tabs.TO_APPROVAL}" class="kt-nav__item">
				<a
					(click)="setCurrentTab(tabs.TO_APPROVAL)"
					class="kt-nav__link"
					href="#">
					<span class="kt-nav__link-text">Aprovação</span>
					<span
						*ngIf="data.to_approval.length > 0"
						class="kt-badge kt-badge--danger kt-badge--md">{{data.to_approval.length}}</span>
				</a>
			</li>
			<li [ngClass]="{active: currentTab === tabs.DOING}" class="kt-nav__item">
				<a
					(click)="setCurrentTab(tabs.DOING)"
					class="kt-nav__link"
					href="#">
					<span class="kt-nav__link-text">Produção</span>
					<span
						*ngIf="data.doing.length > 0"
						class="kt-badge kt-badge--danger kt-badge--md">{{data.doing.length}}</span>
				</a>
			</li>
			<li [ngClass]="{active: currentTab === tabs.TO_CHANGE}" class="kt-nav__item">
				<a
					(click)="setCurrentTab(tabs.TO_CHANGE)"
					class="kt-nav__link"
					href="#">
					<span class="kt-nav__link-text">Alteração</span>
					<span
						*ngIf="data.to_change.length > 0"
						class="kt-badge kt-badge--danger kt-badge--md">{{data.to_change.length}}</span>
				</a>
			</li>
			<li [ngClass]="{active: currentTab === tabs.DONE}" class="kt-nav__item">
				<a
					(click)="setCurrentTab(tabs.DONE)"
					class="kt-nav__link"
					href="#">
					<span class="kt-nav__link-text">Finalizados</span>
					<span
						*ngIf="data.done.length > 0"
						class="kt-badge kt-badge--danger kt-badge--md">{{data.done.length}}</span>
				</a>
			</li>
			<li [ngClass]="{active: currentTab === tabs.TO_DO}" class="kt-nav__item">
				<a
					(click)="setCurrentTab(tabs.TO_DO)"
					class="kt-nav__link"
					href="#">
					<span class="kt-nav__link-text">Para fazer</span>
					<span
						*ngIf="data.to_do.length > 0"
						class="kt-badge kt-badge--danger kt-badge--md">{{data.to_do.length}}</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-9">
		<div class="kt-company-requests">
			<div [ngClass]="{active: currentTab === tabs.TO_DO}" class="kt-company-requests__list">
				<div
					*ngFor="let job of data.to_do"
					class="kt-company-requests__list__item">
					<span class="title">
						{{job?.title}}
					</span>
					<small class="text-uppercase">
						{{job?.company_product?.product?.name}}
					</small>
				</div>
			</div>
			<div [ngClass]="{active: currentTab === tabs.DOING}" class="kt-company-requests__list">
				<div
					*ngFor="let job of data.doing"
					class="kt-company-requests__list__item">
					<span class="title">
						{{job?.title}}
					</span>
					<small class="text-uppercase">
						{{job?.company_product?.product?.name}}
					</small>
				</div>
			</div>
			<div [ngClass]="{active: currentTab === tabs.TO_APPROVAL}" class="kt-company-requests__list">
				<div
					*ngFor="let job of data.to_approval"
					class="kt-company-requests__list__item">
					<span class="title">
						{{job?.title}}
					</span>
					<small class="product-name">
						{{job?.company_product?.product?.name}}
					</small>
					<button (click)="openRateJobDialog(job)" id="rateJob" class="btn btn-info btn-bold btn-sm">Avaliar</button>
				</div>
			</div>
			<div [ngClass]="{active: currentTab === tabs.TO_CHANGE}" class="kt-company-requests__list">
				<div
					*ngFor="let job of data.to_change"
					class="kt-company-requests__list__item">
					<span class="title">
						{{job?.title}}
					</span>
					<small class="text-uppercase">
						{{job?.company_product?.product?.name}}
					</small>
				</div>
			</div>
			<div [ngClass]="{active: currentTab === tabs.DONE}" class="kt-company-requests__list">
				<div
					*ngFor="let job of data.done"
					class="kt-company-requests__list__item">
					<span class="title">
						{{job?.title}}
					</span>
					<small class="text-uppercase">
						{{job?.company_product?.product?.name}}
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
