<div class="kt-kanban">
    <h3 class="kt-kanban__title">Meu Quadro</h3>

    <div class="d-flex align-items-center justify-content-start mb-4">
        <select class="form-control kt-kanban__select-filter mr-3" placeholder="Filtro de data" #orderFilter (change)="isFiltering = true; changeOrderByFilter.emit(orderFilter.value)">
            <option value="most_recent" selected>Recentes primeiro</option>
            <option value="less_recent">Antigas primeiro</option>
            <option value="more_finish_date">Mais prazo de entrega</option>
            <option value="less_finish_date">Menos prazo de entrega</option>
            <option value="company">Nome dos clientes</option>
        </select>
        <div class="kt-kanban__companies mr-3">
            <div class="company-avatar" *ngFor="let company of uniqueCompanies" [style.backgroundImage]="'url('+company?.logo+')'" [class.selected]="seletectedCompanies.includes(company?.id)" (click)="toggleCompanySelection(company?.id)"></div>
        </div>
    </div>

    <div class="kt-kanban__lists" [perfectScrollbar]="{
        suppressScrollY: true,
        wheelPropagation: true
    }" id="psList" #psList (window:resize)="setHeights()">
        <div class="kt-kanban__container">
            <h5 class="kt-kanban__container__title">Pra fazer</h5>

            <div class="kt-kanban__list" [perfectScrollbar]="{
                suppressScrollX: true,
                wheelPropagation: true
            }" cdkDropList #todoList="cdkDropList" [cdkDropListData]="toDo" [cdkDropListConnectedTo]="[doingList, toApprovalList]" (cdkDropListDropped)="drop($event, 'to_do')">

                <div *ngFor="let item of toDo" (click)="openDialog(item)" [ngClass]="isLateClassName(item?.finish_date)" class="kt-kanban__item" cdkDrag>
                    <div class="kt-kanban__item__placeholder" *cdkDragPlaceholder></div>
                    <span *ngIf="item?.title != null" class="d-block mb-2">{{item?.title}}</span>

                    <div class="kt-kanban__item__footer">
                        <small *ngIf="item?.finish_date != null" class="finish-date" [matTooltip]="finishDateTooltip(item)" matTooltipPosition="above">
                            {{moment(item?.finish_date).format('DD [de] MMM [às] HH:mm')}}
                        </small>
                        <div *ngIf="item?.company != null" [matTooltip]="item.company.name" matTooltipPosition="above" [style.backgroundImage]="'url('+item?.company?.logo+')'"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="kt-kanban__container">
            <h5 class="kt-kanban__container__title">Em Produção</h5>

            <div class="kt-kanban__list" [perfectScrollbar]="{
                suppressScrollX: true,
                wheelPropagation: true
            }" cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[toApprovalList]" (cdkDropListDropped)="drop($event, 'doing')">

                <div *ngFor="let item of doing" (click)="openDialog(item)" [ngClass]="isLateClassName(item?.finish_date)" class="kt-kanban__item" cdkDrag>
                    <div class="kt-kanban__item__placeholder" *cdkDragPlaceholder></div>
                    <span *ngIf="item?.title != null" class="d-block mb-2">{{item?.title}}</span>

                    <div class="kt-kanban__item__footer">
                        <small *ngIf="item?.finish_date != null" class="finish-date" [matTooltip]="finishDateTooltip(item)" matTooltipPosition="above">
                            {{moment(item?.finish_date).format('DD [de] MMM [às] HH:mm')}}
                        </small>
                        <div *ngIf="item?.company != null" [matTooltip]="item.company.name" matTooltipPosition="above" [style.backgroundImage]="'url('+item?.company?.logo+')'"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="kt-kanban__container">
            <h5 class="kt-kanban__container__title">Para Aprovação</h5>

            <div class="kt-kanban__list" [perfectScrollbar]="{
                suppressScrollX: true,
                wheelPropagation: true
            }" cdkDropList #toApprovalList="cdkDropList" [cdkDropListData]="toApproval" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event, 'to_approval')">

                <div *ngFor="let item of toApproval" (click)="openDialog(item)" [ngClass]="isLateClassName(item?.finish_date)" class="kt-kanban__item">
                    <div class="kt-kanban__item__placeholder" *cdkDragPlaceholder></div>
                    <span *ngIf="item?.title != null" class="d-block mb-2">{{item?.title}}</span>

                    <div class="kt-kanban__item__footer">
                        <small *ngIf="item?.finish_date != null" class="finish-date" [matTooltip]="finishDateTooltip(item)" matTooltipPosition="above">
                            {{moment(item?.finish_date).format('DD [de] MMM [às] HH:mm')}}
                        </small>
                        <div *ngIf="item?.company != null" [matTooltip]="item.company.name" matTooltipPosition="above" [style.backgroundImage]="'url('+item?.company?.logo+')'"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="kt-kanban__container">
            <h5 class="kt-kanban__container__title">Alterações</h5>

            <div class="kt-kanban__list" [perfectScrollbar]="{
                suppressScrollX: true,
                wheelPropagation: true
            }" cdkDropList #toChangeList="cdkDropList" [cdkDropListData]="toChange" [cdkDropListConnectedTo]="[doingList, toApprovalList]" (cdkDropListDropped)="drop($event, 'to_change')">

                <div *ngFor="let item of toChange" (click)="openDialog(item)" [ngClass]="isLateClassName(item?.finish_date)" class="kt-kanban__item" cdkDrag>
                    <div class="kt-kanban__item__placeholder" *cdkDragPlaceholder></div>
                    <span *ngIf="item?.title != null" class="d-block mb-2">{{item?.title}}</span>

                    <div class="kt-kanban__item__footer">
                        <small *ngIf="item?.finish_date != null" class="finish-date" [matTooltip]="finishDateTooltip(item)" matTooltipPosition="above">
                            {{moment(item?.finish_date).format('DD [de] MMM [às] HH:mm')}}
                        </small>
                        <div *ngIf="item?.company != null" [matTooltip]="item.company.name" matTooltipPosition="above" [style.backgroundImage]="'url('+item?.company?.logo+')'"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="kt-kanban__container">
            <h5 class="kt-kanban__container__title">Concluído</h5>

            <div class="kt-kanban__list" [perfectScrollbar]="{
                suppressScrollX: true,
                wheelPropagation: true
            }">
                <div *ngFor="let item of done" (click)="openDialog(item)" [ngClass]="isLateClassName(item?.finish_date)" class="kt-kanban__item">
                    <span *ngIf="item?.title != null" class="d-block mb-2">{{item?.title}}</span>

                    <div class="kt-kanban__item__footer">
                        <small *ngIf="item?.finish_date != null" class="finish-date" [matTooltip]="finishDateTooltip(item)" matTooltipPosition="above">
                            {{moment(item?.finish_date).format('DD [de] MMM [às] HH:mm')}}
                        </small>
                        <div *ngIf="item?.company != null" [matTooltip]="item.company.name" matTooltipPosition="above" [style.backgroundImage]="'url('+item?.company?.logo+')'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>