$kt-admin-kanban-color: #fe5d22;
$kt-admin-kanban-color-selected: blue;
.kt-admin-kanban {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    &__select-filter {
        font-weight: bold;
        cursor: pointer;
        max-width: 205px;
        padding: 0.65rem 0.65rem;
    }
    &__companies {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        >.company-avatar {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 0;
            cursor: pointer;
            border: solid 2px;
            border-color: inherit;
            &.selected {
                border: solid 2px $kt-admin-kanban-color-selected;
            }
            &:not(:first-of-type) {
                margin-left: -7px;
            }
            &:hover {
                z-index: 1;
            }
        }
    }
    &__title {
        // color: rgb(23, 43, 77);
        color: #fff;
        font-weight: bold;
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 0 !important;
    }
    &__lists {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__list {
        width: 270px;
        min-height: 60px;
        position: relative;
    }
    &__item {
        margin: 6px 12px 6px 12px;
        background: #ffffff;
        border-radius: 4px;
        padding: 10px;
        min-height: 60px;
        box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:last-child {
            margin-bottom: 0px;
        }
        .finish-date {
            background: #e6e4e4;
            color: #000000;
            text-transform: lowercase;
            border-radius: 4px;
            padding: 3px 5px;
        }
        &__placeholder {
            border-radius: 4px;
            background: rgba(0, 0, 0, .15);
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
            height: 76px;
            margin: 6px 12px 6px 12px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &--late {
            // .kt-admin-kanban__item {
            // &__placeholder {}
            // &__footer {}
            // }
            .finish-date {
                background: #ec9488;
            }
        }
        &--almost-late {
            // .kt-admin-kanban__item {
            // &__placeholder {}
            // &__footer {}
            // }
            .finish-date {
                background: #f2d600;
                color: #000000;
            }
        }
    }
    &__container {
        height: auto;
        background-color: #ebecf0;
        margin-right: 6px;
        border-radius: 6px;
        &__title {
            width: 100%;
            overflow: hidden;
            overflow-wrap: break-word;
            box-shadow: none;
            font-weight: 600;
            padding: 12px 12px 6px 12px;
            margin-bottom: 0;
        }
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drop-list-dragging .kt-admin-kanban__list__item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}