<div class="kt-portlet mb-0">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Pedidos da empresa
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body p-0">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Tipo de pedido</th>
                        <th width="150">Valor</th>
                        <th width="150">Data</th>
                        <th width="110"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Social media</td>
                        <td>R$ 25,99</td>
                        <td>21/01/20 às 15:00</td>
                        <td class="text-center"><a href="#">Ver mais</a></td>
                    </tr>
                    <tr>
                        <td>Desenvolvimento</td>
                        <td>R$ 15.999,99</td>
                        <td>21/01/20 às 15:00</td>
                        <td class="text-center"><a href="#">Ver mais</a></td>
                    </tr>
                    <tr>
                        <td>Estratégia</td>
                        <td>R$ 400,00</td>
                        <td>21/01/20 às 15:00</td>
                        <td class="text-center"><a href="#">Ver mais</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="kt-portlet__foot d-flex justify-content-end">
        <button type="reset" class="btn btn-success">Fechar</button>
    </div>
</div>