/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "./scss/date-time-picker.scss";
@import "./scss/summernote.scss";
@import "./scss/card.scss";


.hoverable {
	cursor: pointer;
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
    display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
    min-width: 600px !important;
    width: 100% !important;
}

.position-static {
    position: static;
}

.mat-form-field-appearance-outline {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    .mat-form-field-outline {
        color: #e2e5ec !important;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
        margin: 0 !important;
    }
    .mat-form-field-infix {
        border-top: 0.35em solid transparent !important;
    }
}

$xHeight: 10px;
$yWidth: 5px;
$xColor: rgba(255, 255, 255, .86);
$yColor: #a7b0c1;
$xBorderRadius: 8px;
$yBorderRadius: 8px;
.kt-kanban,
.kt-admin-kanban {
    .ps__rail-x {
        background: rgba(0, 0, 0, .15) !important;
        height: $xHeight !important;
        opacity: 1 !important;
        &:hover,
        &:focus {
            height: $xHeight !important;
        }
        >.ps__thumb-x {
            background: $xColor !important;
            height: $xHeight !important;
            border-radius: $xBorderRadius !important;
            &:hover,
            &:focus {
                background: $xColor !important;
                height: $xHeight !important;
            }
        }
    }
    .ps__rail-y {
        background: #dadbe2 !important;
        width: $yWidth !important;
        opacity: 1 !important;
        &:hover,
        &:focus {
            width: $yWidth !important;
        }
        >.ps__thumb-y {
            background: $yColor !important;
            width: $yWidth !important;
            border-radius: $yBorderRadius !important;
            &:hover,
            &:focus {
                background: $yColor !important;
                width: $yWidth !important;
            }
        }
    }
}

.note-hint-popover {
    min-width: 170px !important;
    padding: 0 !important;
    .note-hint-item {
        padding: 6px 8px;
        &.active {
            font-weight: bold;
            background: #fe5d22;
            color: #fff;
        }
    }
}

.skeleton-box {
    height: initial;
    position: relative;
    overflow: hidden;
    border-color: #e2e2e2 !important;
    background-color: #e2e2e2 !important;
    color: #e2e2e2 !important;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    >* {
        border-color: #e2e2e2 !important;
        background-color: #e2e2e2 !important;
        color: #e2e2e2 !important;
        &::before {
            border-color: #e2e2e2 !important;
            background-color: #e2e2e2 !important;
            color: #e2e2e2 !important;
        }
    }
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient( 90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0));
        animation: shimmer 2.5s infinite;
        color: #e2e2e2 !important;
        content: '';
    }
    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.cdk-overlay-container {
    z-index: 1051 !important;
}
