.owl-dt-timer-content {
    .owl-dt-timer-input {
        border: 1px solid #e2e5ec;
        border-radius: 3px;
    }
}

.owl-dt-calendar-table {
    .owl-dt-calendar-header {
        .owl-dt-weekdays {
            th {
                font-weight: bold;
                color: black;
            }
        }
    }
    .owl-dt-calendar-cell {
        color: black;
        font-weight: bold;
    }
}

.owl-dt-calendar-control {
    .owl-dt-calendar-control-content {
        padding: 9px 0px;
    }
}