.note-editor {
    &.note-frame {
        border: 1px solid rgba(82, 63, 105, 0.05) !important;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05) !important;
        border-radius: 4px !important;
    }
}

.note-modal-footer {
    height: 55px !important;
}

.note-modal-header {
    padding: 15px !important;
    .close {
        margin-top: 0 !important;
    }
}