<kt-portlet>
    <kt-portlet-header title="Suas requisições" desc="Resumo das suas últimas requisições"></kt-portlet-header>
    <kt-portlet-body>
		<kt-alert
			(click)="openCategorySelectionDialog()"
			type="danger"
			[showCloseButton]="false"
			textClass="text-center"
			alertClass="hoverable"
			[showIcon]="false">
			Surgiu uma nova demanda? Solicite agora mesmo!
		</kt-alert>

		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">
				<a 	(click)="setCurrentTab(Tabs.SOCIAL_MEDIA)"
					[class.active]="currentTab == Tabs.SOCIAL_MEDIA"
					class="nav-link"
					href="#">Social Media</a>
			</li>

			<li class="nav-item">
				<a (click)="setCurrentTab(Tabs.DEVELOPMENT)"
					[class.active]="currentTab == Tabs.DEVELOPMENT"
					class="nav-link"
					href="#">Desenvolvimento</a>
			</li>

			<li class="nav-item">
				<a	(click)="setCurrentTab(Tabs.STRATEGY)"
					[class.active]="currentTab == Tabs.STRATEGY"
					class="nav-link"
					href="#">Estratégia</a>
			</li>

			<li class="nav-item">
				<a	(click)="setCurrentTab(Tabs.CUSTOM)"
					[class.active]="currentTab == Tabs.CUSTOM"
					class="nav-link"
					href="#">Customizado</a>
			</li>
		</ul>
		<div class="tab-content">
			<div
				[ngClass]="{'show active': currentTab == Tabs.SOCIAL_MEDIA}"
				class="tab-pane fade">
				<kt-company-requests-list [data]="jobs.social_media"></kt-company-requests-list>
				1
			</div>
			<div
				[ngClass]="{'show active': currentTab == Tabs.DEVELOPMENT}"
				class="tab-pane fade">
				<kt-company-requests-list [data]="jobs.development"></kt-company-requests-list>
				2
			</div>
			<div
				[ngClass]="{'show active': currentTab == Tabs.STRATEGY}"
				class="tab-pane fade">
				<kt-company-requests-list
					[data]="jobs.strategy"
					(ratejob)="rateJob($event)"></kt-company-requests-list>
				3
			</div>
			<div
				[ngClass]="{'show active': currentTab == Tabs.CUSTOM}"
				class="tab-pane fade">
				<kt-company-requests-list [data]="jobs.custom"></kt-company-requests-list>
				4
			</div>
		</div>
    </kt-portlet-body>
</kt-portlet>
