<div class="kt-comsumption-data">
    <div class="kt-divider mb-3">
        <span></span>
        <span>_mycoins disponíveis</span>
        <span></span>
    </div>
    <h1 class="kt-comsumption-data__coins">${{data?.available_coins}}</h1>

    <div class="kt-divider mt-5 mb-3">
        <span></span>
        <span>dados de consumo</span>
        <span></span>
    </div>

    <div class="row">
        <div class="col-lg-6 pt-3">
            <h5>Social media</h5>
            <ngb-progressbar showValue="true" type="warning" [value]="data?.social_media_percentage" [max]="100"></ngb-progressbar>
        </div>
        <div class="col-lg-6 pt-3">
            <h5>Desenvolvimento</h5>
            <ngb-progressbar showValue="true" type="danger" [value]="data?.development_percentage" [max]="100"></ngb-progressbar>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 pt-3">
            <h5>Estratégia</h5>
            <ngb-progressbar showValue="true" type="info" [value]="data?.strategy_percentage" [max]="100"></ngb-progressbar>
        </div>
        <div class="col-lg-6 pt-3">
            <h5>Pacotes personalizados</h5>
            <ngb-progressbar showValue="true" type="success" [value]="data?.package_percentage" [max]="100"></ngb-progressbar>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-primary btn-elevate">Adicionar _mycoins</button>
    </div>
</div>
