<div id="board" style="background-color: #343f42; border-color: #343f42;">
    <kt-header-mobile></kt-header-mobile>

    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <kt-header></kt-header>
                <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor mt-0 pt-0" id="kt_body">
                    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor mt-0 pt-0" id="kt_content">
                        <div ktContentAnimate class="kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">

                            <kt-admin-kanban [jobs]="job" (changeorderby)="orderBy = $event; getJobs(false)" (togglecompany)="selectedCompanies = $event; getJobs(false)"></kt-admin-kanban>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>